<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Centro Servizi</display-name>

  <!-- Filtro per il Login -->
  <filter>
    <filter-name>AuthorisationFilter</filter-name>
    <filter-class>org.openspcoop2.web.ctrlstat.servlet.login.AuthorisationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorisationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!--  PddConsole startup -->
  <listener>
         <listener-class>
                  org.openspcoop2.web.ctrlstat.core.InitListener
         </listener-class>
  </listener>



  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>/pddConsole</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <!-- Servlet per il download dei documenti -->
  <servlet>
    <servlet-name>downloadDocumento</servlet-name>
    <servlet-class>org.openspcoop2.web.ctrlstat.servlet.archivi.DocumentoExporter</servlet-class>
  </servlet>

  <!-- Servlet per l'esportazione delle tracce -->
  <servlet>
  	<servlet-name>tracceExporter</servlet-name>
    <servlet-class>org.openspcoop2.web.ctrlstat.servlet.archivi.TracceExporter</servlet-class>
  </servlet>
  
  <!-- Servlet per l'esportazione dei messaggi diagnostici -->
  <servlet>
  	<servlet-name>diagnosticaExporter</servlet-name>
    <servlet-class>org.openspcoop2.web.ctrlstat.servlet.archivi.DiagnosticaExporter</servlet-class>
  </servlet>

  <!-- Servlet di gestione esportazione allegati -->
  <servlet>
    <servlet-name>archiviExporter</servlet-name>
	<servlet-class>org.openspcoop2.web.ctrlstat.servlet.archivi.ArchiviExporter</servlet-class>
  </servlet>
  
  <!-- Servlet di gestione esportazione della configurazione di sistema -->
  <servlet>
    <servlet-name>configurazioneSistemaExporter</servlet-name>
	<servlet-class>org.openspcoop2.web.ctrlstat.servlet.config.ConfigurazioneSistemaExporter</servlet-class>
  </servlet>
  
  <!-- Servlet per il Download del Resoconto di Importazione -->
  <servlet>
    <servlet-name>downloadResoconto</servlet-name>
	<servlet-class>org.openspcoop2.web.ctrlstat.servlet.archivi.ResocontoExporter</servlet-class>
  </servlet>


  <!-- Servlet per il download dei documenti -->
  <servlet-mapping>
    <servlet-name>downloadDocumento</servlet-name>
    <url-pattern>/downloadDocumento</url-pattern>
  </servlet-mapping>

  <!-- Servlet per l'esportazione delle tracce -->
  <servlet-mapping>
    <servlet-name>tracceExporter</servlet-name>
    <url-pattern>/exporterTracce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>diagnosticaExporter</servlet-name>
    <url-pattern>/exporterDiagnostica</url-pattern>
  </servlet-mapping>

  <!-- Servlet di gestione esportazione allegati -->
  <servlet-mapping>
    <servlet-name>archiviExporter</servlet-name>
    <url-pattern>/exporterArchivi</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet di gestioneesportazione della configurazione di sistema -->
  <servlet-mapping>
    <servlet-name>configurazioneSistemaExporter</servlet-name>
    <url-pattern>/exporterConfigurazione</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet per il Download del Resoconto di Importazione -->
  <servlet-mapping>
    <servlet-name>downloadResoconto</servlet-name>
	<url-pattern>/downloadResoconto</url-pattern>
  </servlet-mapping>

  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>

</web-app>
