openapi: 3.0.0
info:
  title: FHIR
  description: fhir
  license:
    name: GPL v3.0
    url: https://www.gnu.org/licenses/gpl-3.0.txt
  version: 1.0.0
servers:
  - url: http://hapi.fhir.org/baseR4/
tags:
  - name: Risorse
paths:
  /Invoice:
    post:
      tags:
        - Risorse
      summary: creazione di una spesa sanitaria
      operationId: newInvoice
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/Invoice"
        required: true
      responses:
        201:
          description: "OK"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/Invoice"
        400:
          $ref: "#/components/responses/400BadRequest"
        404:
          $ref: "#/components/responses/404NotFound"
        422:
          $ref: "#/components/responses/422UnprocessableEntity"
  /Invoice/{invoice_id}:
    parameters:
      - $ref: '#/components/parameters/invoice_id'
    patch:
      tags:
        - Risorse
      summary: Variazione di una spesa sanitaria
      operationId: updateInvoice
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/Invoice"
        required: true
      responses:
        200:
          description: "OK"
        404:
          $ref: "#/components/responses/404NotFound"
        412:
          $ref: "#/components/responses/412PreconditionFailed"
    delete:
      tags:
        - Risorse
      summary: Cancellazione di una spesa sanitaria
      operationId: deleteInvoice
      responses:
        200:
          description: "OK"
        404:
          $ref: "#/components/responses/404NotFound"
    put:
      tags:
        - Risorse
      summary: Rimborso di una spesa sanitaria
      operationId: changeInvoice
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/Invoice"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201Created"
        400:
          $ref: "#/components/responses/400BadRequest"
        404:
          $ref: "#/components/responses/404NotFound"
        422:
          $ref: "#/components/responses/422UnprocessableEntity"
    get:
      tags:
        - Risorse
      summary: Lettura di una spesa sanitaria
      operationId: readInvoice
      responses:
        200:
          description: "OK"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/Invoice"
        404:
          $ref: "#/components/responses/404NotFound"
  /CarePlan/{careplan_id}:
    parameters:
      - $ref: '#/components/parameters/careplan_id'
    get:
      tags:
        - Risorse
      summary: Lettura di un careplan
      operationId: getCarePlan
      responses:
        '200':
          description: "OK"
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CarePlan'
        '404':
          $ref: "#/components/responses/404NotFound"
  /CarePlan:
    post:
      tags:
        - Risorse
      summary: creazione di un careplan
      operationId: newCarePlan
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/CarePlan"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201Created"
        400:
          $ref: "#/components/responses/400BadRequest"
        404:
          $ref: "#/components/responses/404NotFound"
components:
  schemas:
    ResourceList:
      oneOf:
        - $ref: '#/components/schemas/Account'
        - $ref: '#/components/schemas/ActivityDefinition'
        - $ref: '#/components/schemas/AdverseEvent'
        - $ref: '#/components/schemas/AllergyIntolerance'
        - $ref: '#/components/schemas/Appointment'
        - $ref: '#/components/schemas/AppointmentResponse'
        - $ref: '#/components/schemas/AuditEvent'
        - $ref: '#/components/schemas/Basic'
        - $ref: '#/components/schemas/Binary'
        - $ref: '#/components/schemas/BiologicallyDerivedProduct'
        - $ref: '#/components/schemas/BodyStructure'
        - $ref: '#/components/schemas/Bundle'
        - $ref: '#/components/schemas/CapabilityStatement'
        - $ref: '#/components/schemas/CarePlan'
        - $ref: '#/components/schemas/CareTeam'
        - $ref: '#/components/schemas/CatalogEntry'
        - $ref: '#/components/schemas/ChargeItem'
        - $ref: '#/components/schemas/ChargeItemDefinition'
        - $ref: '#/components/schemas/Claim'
        - $ref: '#/components/schemas/ClaimResponse'
        - $ref: '#/components/schemas/ClinicalImpression'
        - $ref: '#/components/schemas/CodeSystem'
        - $ref: '#/components/schemas/Communication'
        - $ref: '#/components/schemas/CommunicationRequest'
        - $ref: '#/components/schemas/CompartmentDefinition'
        - $ref: '#/components/schemas/Composition'
        - $ref: '#/components/schemas/ConceptMap'
        - $ref: '#/components/schemas/Condition'
        - $ref: '#/components/schemas/Consent'
        - $ref: '#/components/schemas/Contract'
        - $ref: '#/components/schemas/Coverage'
        - $ref: '#/components/schemas/CoverageEligibilityRequest'
        - $ref: '#/components/schemas/CoverageEligibilityResponse'
        - $ref: '#/components/schemas/DetectedIssue'
        - $ref: '#/components/schemas/Device'
        - $ref: '#/components/schemas/DeviceDefinition'
        - $ref: '#/components/schemas/DeviceMetric'
        - $ref: '#/components/schemas/DeviceRequest'
        - $ref: '#/components/schemas/DeviceUseStatement'
        - $ref: '#/components/schemas/DiagnosticReport'
        - $ref: '#/components/schemas/DocumentManifest'
        - $ref: '#/components/schemas/DocumentReference'
        - $ref: '#/components/schemas/EffectEvidenceSynthesis'
        - $ref: '#/components/schemas/Encounter'
        - $ref: '#/components/schemas/Endpoint'
        - $ref: '#/components/schemas/EnrollmentRequest'
        - $ref: '#/components/schemas/EnrollmentResponse'
        - $ref: '#/components/schemas/EpisodeOfCare'
        - $ref: '#/components/schemas/EventDefinition'
        - $ref: '#/components/schemas/Evidence'
        - $ref: '#/components/schemas/EvidenceVariable'
        - $ref: '#/components/schemas/ExampleScenario'
        - $ref: '#/components/schemas/ExplanationOfBenefit'
        - $ref: '#/components/schemas/FamilyMemberHistory'
        - $ref: '#/components/schemas/Flag'
        - $ref: '#/components/schemas/Goal'
        - $ref: '#/components/schemas/GraphDefinition'
        - $ref: '#/components/schemas/Group'
        - $ref: '#/components/schemas/GuidanceResponse'
        - $ref: '#/components/schemas/HealthcareService'
        - $ref: '#/components/schemas/ImagingStudy'
        - $ref: '#/components/schemas/Immunization'
        - $ref: '#/components/schemas/ImmunizationEvaluation'
        - $ref: '#/components/schemas/ImmunizationRecommendation'
        - $ref: '#/components/schemas/ImplementationGuide'
        - $ref: '#/components/schemas/InsurancePlan'
        - $ref: '#/components/schemas/Invoice'
        - $ref: '#/components/schemas/Library'
        - $ref: '#/components/schemas/Linkage'
        - $ref: '#/components/schemas/List'
        - $ref: '#/components/schemas/Location'
        - $ref: '#/components/schemas/Measure'
        - $ref: '#/components/schemas/MeasureReport'
        - $ref: '#/components/schemas/Media'
        - $ref: '#/components/schemas/Medication'
        - $ref: '#/components/schemas/MedicationAdministration'
        - $ref: '#/components/schemas/MedicationDispense'
        - $ref: '#/components/schemas/MedicationKnowledge'
        - $ref: '#/components/schemas/MedicationRequest'
        - $ref: '#/components/schemas/MedicationStatement'
        - $ref: '#/components/schemas/MedicinalProduct'
        - $ref: '#/components/schemas/MedicinalProductAuthorization'
        - $ref: '#/components/schemas/MedicinalProductContraindication'
        - $ref: '#/components/schemas/MedicinalProductIndication'
        - $ref: '#/components/schemas/MedicinalProductIngredient'
        - $ref: '#/components/schemas/MedicinalProductInteraction'
        - $ref: '#/components/schemas/MedicinalProductManufactured'
        - $ref: '#/components/schemas/MedicinalProductPackaged'
        - $ref: '#/components/schemas/MedicinalProductPharmaceutical'
        - $ref: '#/components/schemas/MedicinalProductUndesirableEffect'
        - $ref: '#/components/schemas/MessageDefinition'
        - $ref: '#/components/schemas/MessageHeader'
        - $ref: '#/components/schemas/MolecularSequence'
        - $ref: '#/components/schemas/NamingSystem'
        - $ref: '#/components/schemas/NutritionOrder'
        - $ref: '#/components/schemas/Observation'
        - $ref: '#/components/schemas/ObservationDefinition'
        - $ref: '#/components/schemas/OperationDefinition'
        - $ref: '#/components/schemas/OperationOutcome'
        - $ref: '#/components/schemas/Organization'
        - $ref: '#/components/schemas/OrganizationAffiliation'
        - $ref: '#/components/schemas/Parameters'
        - $ref: '#/components/schemas/Patient'
        - $ref: '#/components/schemas/PaymentNotice'
        - $ref: '#/components/schemas/PaymentReconciliation'
        - $ref: '#/components/schemas/Person'
        - $ref: '#/components/schemas/PlanDefinition'
        - $ref: '#/components/schemas/Practitioner'
        - $ref: '#/components/schemas/PractitionerRole'
        - $ref: '#/components/schemas/Procedure'
        - $ref: '#/components/schemas/Provenance'
        - $ref: '#/components/schemas/Questionnaire'
        - $ref: '#/components/schemas/QuestionnaireResponse'
        - $ref: '#/components/schemas/RelatedPerson'
        - $ref: '#/components/schemas/RequestGroup'
        - $ref: '#/components/schemas/ResearchDefinition'
        - $ref: '#/components/schemas/ResearchElementDefinition'
        - $ref: '#/components/schemas/ResearchStudy'
        - $ref: '#/components/schemas/ResearchSubject'
        - $ref: '#/components/schemas/RiskAssessment'
        - $ref: '#/components/schemas/RiskEvidenceSynthesis'
        - $ref: '#/components/schemas/Schedule'
        - $ref: '#/components/schemas/SearchParameter'
        - $ref: '#/components/schemas/ServiceRequest'
        - $ref: '#/components/schemas/Slot'
        - $ref: '#/components/schemas/Specimen'
        - $ref: '#/components/schemas/SpecimenDefinition'
        - $ref: '#/components/schemas/StructureDefinition'
        - $ref: '#/components/schemas/StructureMap'
        - $ref: '#/components/schemas/Subscription'
        - $ref: '#/components/schemas/Substance'
        - $ref: '#/components/schemas/SubstanceNucleicAcid'
        - $ref: '#/components/schemas/SubstancePolymer'
        - $ref: '#/components/schemas/SubstanceProtein'
        - $ref: '#/components/schemas/SubstanceReferenceInformation'
        - $ref: '#/components/schemas/SubstanceSourceMaterial'
        - $ref: '#/components/schemas/SubstanceSpecification'
        - $ref: '#/components/schemas/SupplyDelivery'
        - $ref: '#/components/schemas/SupplyRequest'
        - $ref: '#/components/schemas/Task'
        - $ref: '#/components/schemas/TerminologyCapabilities'
        - $ref: '#/components/schemas/TestReport'
        - $ref: '#/components/schemas/TestScript'
        - $ref: '#/components/schemas/ValueSet'
        - $ref: '#/components/schemas/VerificationResult'
        - $ref: '#/components/schemas/VisionPrescription'
    base64Binary:
      type: string
      description: A stream of bytes
    boolean:
      pattern: ^true|false$
      type: boolean
      description: Value of "true" or "false"
    canonical:
      pattern: ^\S*$
      type: string
      description: A URI that is a reference to a canonical URL on a FHIR resource
    code:
      pattern: ^[^\s]+(\s[^\s]+)*$
      type: string
      description: A string which has at least one character and no leading or trailing whitespace and where there is no whitespace other than single spaces in the contents
    date:
      pattern: ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$
      type: string
      description: A date or partial date (e.g. just year or year + month). There is no time zone. The format is a union of the schema types gYear, gYearMonth and date.  Dates SHALL be valid dates.
    dateTime:
      pattern: ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
      type: string
      description: A date, date-time or partial date (e.g. just year or year + month).  If hours and minutes are specified, a time zone SHALL be populated. The format is a union of the schema types gYear, gYearMonth, date and dateTime. Seconds must be provided due to schema type constraints but may be zero-filled and may be ignored.                 Dates SHALL be valid dates.
    decimal:
      pattern: ^-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?$
      type: number
      description: A rational number with implicit precision
    id:
      pattern: ^[A-Za-z0-9\-\.]{1,64}$
      type: string
      description: Any combination of letters, numerals, "-" and ".", with a length limit of 64 characters.  (This might be an integer, an unprefixed OID, UUID or any other identifier pattern that meets these constraints.)  Ids are case-insensitive.
    instant:
      pattern: ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))$
      type: string
      description: An instant in time - known at least to the second
    integer:
      pattern: ^-?([0]|([1-9][0-9]*))$
      type: number
      description: A whole number
    markdown:
      pattern: ^[ \r\n\t\S]+$
      type: string
      description: A string that may contain Github Flavored Markdown syntax for optional processing by a mark down presentation engine
    positiveInt:
      pattern: ^[1-9][0-9]*$
      type: number
      description: An integer with a value that is positive (e.g. >0)
    string:
      pattern: ^[ \r\n\t\S]+$
      type: string
      description: A sequence of Unicode characters
    time:
      pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?$
      type: string
      description: A time during the day, with no date specified
    unsignedInt:
      pattern: ^[0]|([1-9][0-9]*)$
      type: number
      description: An integer with a value that is not negative (e.g. >= 0)
    uri:
      pattern: ^\S*$
      type: string
      description: String of characters used to identify a name or a resource
    url:
      pattern: ^\S*$
      type: string
      description: A URI that is a literal reference
    uuid:
      pattern: '^urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      type: string
      description: 'A UUID, represented as a URI'
    xhtml:
      description: xhtml - escaped html (see specfication)
    Element:
      description: Base definition for all elements in a resource.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
      additionalProperties: false
    Extension:
      description: Optional Extension Element - found in all resources.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        url:
          $ref: '#/components/schemas/uri'
        _url:
          $ref: '#/components/schemas/Element'
        valueBase64Binary:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^(\s*([0-9a-zA-Z\+/=]){4}\s*)+$
          type: string
        _valueBase64Binary:
                    $ref: '#/components/schemas/Element'
        valueBoolean:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^true|false$
          type: boolean
        _valueBoolean:
          $ref: '#/components/schemas/Element'
        valueCanonical:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^\S*$
          type: string
        _valueCanonical:
          $ref: '#/components/schemas/Element'
        valueCode:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[^\s]+(\s[^\s]+)*$
          type: string
        _valueCode:
          $ref: '#/components/schemas/Element'
        valueDate:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$
          type: string
        _valueDate:
          $ref: '#/components/schemas/Element'
        valueDateTime:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
          type: string
        _valueDateTime:
          $ref: '#/components/schemas/Element'
        valueDecimal:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?$
          type: number
        _valueDecimal:
          $ref: '#/components/schemas/Element'
        valueId:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[A-Za-z0-9\-\.]{1,64}$
          type: string
        _valueId:
          $ref: '#/components/schemas/Element'
        valueInstant:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))$
          type: string
        _valueInstant:
          $ref: '#/components/schemas/Element'
        valueInteger:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^-?([0]|([1-9][0-9]*))$
          type: number
        _valueInteger:
          $ref: '#/components/schemas/Element'
        valueMarkdown:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[ \r\n\t\S]+$
          type: string
        _valueMarkdown:
          $ref: '#/components/schemas/Element'
        valueOid:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^urn:oid:[0-2](\.(0|[1-9][0-9]*))+$
          type: string
        _valueOid:
          $ref: '#/components/schemas/Element'
        valuePositiveInt:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[1-9][0-9]*$
          type: number
        _valuePositiveInt:
          $ref: '#/components/schemas/Element'
        valueString:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[ \r\n\t\S]+$
          type: string
        _valueString:
          $ref: '#/components/schemas/Element'
        valueTime:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?$
          type: string
        _valueTime:
          $ref: '#/components/schemas/Element'
        valueUnsignedInt:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^[0]|([1-9][0-9]*)$
          type: number
        _valueUnsignedInt:
          $ref: '#/components/schemas/Element'
        valueUri:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^\S*$
          type: string
        _valueUri:
          $ref: '#/components/schemas/Element'
        valueUrl:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          pattern: ^\S*$
          type: string
        _valueUrl:
          $ref: '#/components/schemas/Element'
        valueUuid:
          description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
          pattern: ^urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
        _valueUuid:
          $ref: '#/components/schemas/Element'
        valueAddress:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Address'
        valueAge:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Age'
        valueAnnotation:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Annotation'
        valueAttachment:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Attachment'
        valueCodeableConcept:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/CodeableConcept'
        valueCoding:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Coding'
        valueContactPoint:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/ContactPoint'
        valueCount:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Count'
        valueDistance:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Distance'
        valueDuration:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Duration'
        valueHumanName:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/HumanName'
        valueIdentifier:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Identifier'
        valueMoney:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Money'
        valuePeriod:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Period'
        valueQuantity:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Quantity'
        valueRange:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Range'
        valueRatio:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Ratio'
        valueReference:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Reference'
        valueSampledData:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/SampledData'
        valueSignature:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Signature'
        valueTiming:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Timing'
        valueContactDetail:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/ContactDetail'
        valueContributor:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Contributor'
        valueDataRequirement:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/DataRequirement'
        valueExpression:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Expression'
        valueParameterDefinition:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/ParameterDefinition'
        valueRelatedArtifact:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/RelatedArtifact'
        valueTriggerDefinition:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/TriggerDefinition'
        valueUsageContext:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/UsageContext'
        valueDosage:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Dosage'
        valueMeta:
          description: >-
            Value of extension - must be one of a constrained set of the data
            types (see [Extensibility](extensibility.html) for a list).
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    Narrative:
      description: A human-readable summary of the resource conveying the essential clinical and business information for the resource.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        status:
          description: The status of the narrative - whether it's entirely generated (from just the defined data or the extensions too), or whether a human authored it and it may contain additional data.
          enum:
            - generated
            - extensions
            - additional
            - empty
        _status:
          $ref: '#/components/schemas/Element'
        div:
          $ref: '#/components/schemas/xhtml'
      additionalProperties: false
      required:
        - div
    Annotation:
      description: A  text note which also  contains information about who made the statement and when.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        authorReference:
          $ref: '#/components/schemas/Reference'
        authorString:
          description: The individual responsible for making the annotation.
          pattern: ^[ \r\n\t\S]+$
          type: string
        _authorString:
          $ref: '#/components/schemas/Element'
        time:
          $ref: '#/components/schemas/dateTime'
        _time:
          $ref: '#/components/schemas/Element'
        text:
          $ref: '#/components/schemas/markdown'
        _text:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Attachment:
      description: For referring to data content defined in other formats.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        contentType:
          description: >-
            Identifies the type of the data in the attachment and allows a
            method to be chosen to interpret or render the data. Includes mime
            type parameters such as charset where appropriate.
          $ref: '#/components/schemas/code'
        _contentType:
          $ref: '#/components/schemas/Element'
        language:
          description: >-
            The human language of the content. The value can be any valid value
            according to BCP 47.
          $ref: '#/components/schemas/code'
        _language:
          $ref: '#/components/schemas/Element'
        data:
          description: >-
            The actual data of the attachment - a sequence of bytes, base64
            encoded.
          $ref: '#/components/schemas/base64Binary'
        _data:
          $ref: '#/components/schemas/Element'
        url:
          $ref: '#/components/schemas/url'
        _url:
          $ref: '#/components/schemas/Element'
        size:
          description: >-
            The number of bytes of data that make up this attachment (before
            base64 encoding, if that is done).
          $ref: '#/components/schemas/unsignedInt'
        _size:
          $ref: '#/components/schemas/Element'
        hash:
          description: >-
            The calculated hash of the data using SHA-1. Represented using
            base64.
          $ref: '#/components/schemas/base64Binary'
        _hash:
          $ref: '#/components/schemas/Element'
        title:
          $ref: '#/components/schemas/string'
        _title:
          $ref: '#/components/schemas/Element'
        creation:
          $ref: '#/components/schemas/dateTime'
        _creation:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Identifier:
      description: An identifier - identifies some entity uniquely and unambiguously. Typically this is used for business identifiers.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        use:
          description: The purpose of this identifier.
          enum:
            - usual
            - official
            - temp
            - secondary
            - old
        _use:
          $ref: '#/components/schemas/Element'
        type:
          description: >-
            A coded type for the identifier that can be used to determine which
            identifier to use for a specific purpose.
          $ref: '#/components/schemas/CodeableConcept'
        system:
          description: >-
            Establishes the namespace for the value - that is, a URL that
            describes a set values that are unique.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        value:
          description: >-
            The portion of the identifier typically relevant to the user and
            which is unique within the context of the system.
          $ref: '#/components/schemas/string'
        _value:
          $ref: '#/components/schemas/Element'
        period:
          $ref: '#/components/schemas/Period'
        assigner:
          $ref: '#/components/schemas/Reference'
      additionalProperties: false
    CodeableConcept:
      description: A concept that may be defined by a formal reference to a terminology or ontology or may be provided by text.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        coding:
          description: A reference to a code defined by a terminology system.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
        text:
          description: >-
            A human language representation of the concept as
            seen/selected/uttered by the user who entered the data and/or which
            represents the intended meaning of the user.
          $ref: '#/components/schemas/string'
        _text:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Coding:
      description: A reference to a code defined by a terminology system.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        system:
          description: >-
            The identification of the code system that defines the meaning of
            the symbol in the code.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        version:
          description: >-
            The version of the code system which was used when choosing this
            code. Note that a well-maintained code system does not need the
            version reported, because the meaning of codes is consistent across
            versions. However this cannot consistently be assured, and when the
            meaning is not guaranteed to be consistent, the version SHOULD be
            exchanged.
          $ref: '#/components/schemas/string'
        _version:
          $ref: '#/components/schemas/Element'
        code:
          description: >-
            A symbol in syntax defined by the system. The symbol may be a
            predefined code or an expression in a syntax defined by the coding
            system (e.g. post-coordination).
          $ref: '#/components/schemas/code'
        _code:
          $ref: '#/components/schemas/Element'
        display:
          description: >-
            A representation of the meaning of the code in the system, following
            the rules of the system.
          $ref: '#/components/schemas/string'
        _display:
          $ref: '#/components/schemas/Element'
        userSelected:
          description: >-
            Indicates that this coding was chosen by a user directly - e.g. off
            a pick list of available items (codes or displays).
          $ref: '#/components/schemas/boolean'
        _userSelected:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Quantity:
      description: A measured amount (or an amount that can potentially be measured). Note that measured amounts include amounts that are not precisely quantified, including amounts involving arbitrary units and floating currencies.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        value:
          description: >-
            The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          $ref: '#/components/schemas/decimal'
        _value:
          $ref: '#/components/schemas/Element'
        comparator:
          description: How the value should be understood and represented - whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is "<" , then the real value is < stated value.
          enum:
            - <
            - <=
            - '>='
            - '>'
        _comparator:
          $ref: '#/components/schemas/Element'
        unit:
          $ref: '#/components/schemas/string'
        _unit:
          $ref: '#/components/schemas/Element'
        system:
          description: >-
            The identification of the system that provides the coded form of the
            unit.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        code:
          description: >-
            A computer processable form of the unit in some unit representation
            system.
          $ref: '#/components/schemas/code'
        _code:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Duration:
      description: A length of time.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        value:
          description: >-
            The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          $ref: '#/components/schemas/decimal'
        _value:
          $ref: '#/components/schemas/Element'
        comparator:
          description: How the value should be understood and represented - whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is "<" , then the real value is < stated value.
          enum:
            - <
            - <=
            - '>='
            - '>'
        _comparator:
          $ref: '#/components/schemas/Element'
        unit:
          $ref: '#/components/schemas/string'
        _unit:
          $ref: '#/components/schemas/Element'
        system:
          description: >-
            The identification of the system that provides the coded form of the
            unit.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        code:
          description: >-
            A computer processable form of the unit in some unit representation
            system.
          $ref: '#/components/schemas/code'
        _code:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Distance:
      description: A length - a value with a unit that is a physical distance.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        value:
          description: >-
            The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          $ref: '#/components/schemas/decimal'
        _value:
          $ref: '#/components/schemas/Element'
        comparator:
          description: How the value should be understood and represented - whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is "<" , then the real value is < stated value.
          enum:
            - <
            - <=
            - '>='
            - '>'
        _comparator:
          $ref: '#/components/schemas/Element'
        unit:
          $ref: '#/components/schemas/string'
        _unit:
          $ref: '#/components/schemas/Element'
        system:
          description: >-
            The identification of the system that provides the coded form of the
            unit.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        code:
          description: >-
            A computer processable form of the unit in some unit representation
            system.
          $ref: '#/components/schemas/code'
        _code:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Count:
      description: A measured amount (or an amount that can potentially be measured). Note that measured amounts include amounts that are not precisely quantified, including amounts involving arbitrary units and floating currencies.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        value:
          description: >-
            The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          $ref: '#/components/schemas/decimal'
        _value:
          $ref: '#/components/schemas/Element'
        comparator:
          description: How the value should be understood and represented - whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is "<" , then the real value is < stated value.
          enum:
            - <
            - <=
            - '>='
            - '>'
        _comparator:
          $ref: '#/components/schemas/Element'
        unit:
          $ref: '#/components/schemas/string'
        _unit:
          $ref: '#/components/schemas/Element'
        system:
          description: >-
            The identification of the system that provides the coded form of the
            unit.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        code:
          description: >-
            A computer processable form of the unit in some unit representation
            system.
          $ref: '#/components/schemas/code'
        _code:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Money:
      description: An amount of economic utility in some recognized currency.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        value:
          $ref: '#/components/schemas/decimal'
        _value:
          $ref: '#/components/schemas/Element'
        currency:
          $ref: '#/components/schemas/code'
        _currency:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Age:
      description: A duration of time during which an organism (or a process) has existed.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        value:
          description: >-
            The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          $ref: '#/components/schemas/decimal'
        _value:
          $ref: '#/components/schemas/Element'
        comparator:
          description: How the value should be understood and represented - whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is "<" , then the real value is < stated value.
          enum:
            - <
            - <=
            - '>='
            - '>'
        _comparator:
          $ref: '#/components/schemas/Element'
        unit:
          $ref: '#/components/schemas/string'
        _unit:
          $ref: '#/components/schemas/Element'
        system:
          description: >-
            The identification of the system that provides the coded form of the
            unit.
          $ref: '#/components/schemas/uri'
        _system:
          $ref: '#/components/schemas/Element'
        code:
          description: >-
            A computer processable form of the unit in some unit representation
            system.
          $ref: '#/components/schemas/code'
        _code:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Range:
      description: A set of ordered Quantities defined by a low and high limit.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        low:
          $ref: '#/components/schemas/Quantity'
        high:
          $ref: '#/components/schemas/Quantity'
      additionalProperties: false
    Period:
      description: A time period defined by a start and end date and optionally time.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        start:
          $ref: '#/components/schemas/dateTime'
        _start:
          $ref: '#/components/schemas/Element'
        end:
          description: >-
            The end of the period. If the end of the period is missing, it means
            no end was known or planned at the time the instance was created.
            The start may be in the past, and the end date in the future, which
            means that period is expected/planned to end at that time.
          $ref: '#/components/schemas/dateTime'
        _end:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Ratio:
      description: A relationship of two Quantity values - expressed as a numerator and a denominator.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        numerator:
          $ref: '#/components/schemas/Quantity'
        denominator:
          $ref: '#/components/schemas/Quantity'
      additionalProperties: false
    Reference:
      description: A reference from one resource to another.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        reference:
          description: >-
            A reference to a location at which the other resource is found. The
            reference may be a relative reference, in which case it is relative
            to the service base URL, or an absolute URL that resolves to the
            location where the resource is found. The reference may be version
            specific or not. If the reference is not to a FHIR RESTful server,
            then it should be assumed to be version specific. Internal fragment
            references (start with '#') refer to contained resources.
          $ref: '#/components/schemas/string'
        _reference:
          $ref: '#/components/schemas/Element'
        type:
          description: >-
            The expected type of the target of the reference. If both
            Reference.type and Reference.reference are populated and
            Reference.reference is a FHIR URL, both SHALL be consistent.


            The type is the Canonical URL of Resource Definition that is the
            type this reference refers to. References are URLs that are relative
            to http://hl7.org/fhir/StructureDefinition/ e.g. "Patient" is a
            reference to http://hl7.org/fhir/StructureDefinition/Patient.
            Absolute URLs are only allowed for logical models (and can only be
            used in references in logical models, not resources).
          $ref: '#/components/schemas/uri'
        _type:
          $ref: '#/components/schemas/Element'
        identifier:
          description: >-
            An identifier for the target resource. This is used when there is no
            way to reference the other resource directly, either because the
            entity it represents is not available through a FHIR server, or
            because there is no way for the author of the resource to convert a
            known identifier to an actual location. There is no requirement that
            a Reference.identifier point to something that is actually exposed
            as a FHIR instance, but it SHALL point to a business concept that
            would be expected to be exposed as a FHIR instance, and that
            instance would need to be of a FHIR resource type allowed by the
            reference.
          $ref: '#/components/schemas/Identifier'
        display:
          description: >-
            Plain text narrative that identifies the resource in addition to the
            resource reference.
          $ref: '#/components/schemas/string'
        _display:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    SampledData:
      description: A series of measurements taken by a device, with upper and lower limits. There may be more than one dimension in the data.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        origin:
          description: >-
            The base quantity that a measured value of zero represents. In
            addition, this provides the units of the entire measurement series.
          $ref: '#/components/schemas/Quantity'
        period:
          $ref: '#/components/schemas/decimal'
        _period:
          $ref: '#/components/schemas/Element'
        factor:
          description: >-
            A correction factor that is applied to the sampled data points
            before they are added to the origin.
          $ref: '#/components/schemas/decimal'
        _factor:
          $ref: '#/components/schemas/Element'
        lowerLimit:
          description: >-
            The lower limit of detection of the measured points. This is needed
            if any of the data points have the value "L" (lower than detection
            limit).
          $ref: '#/components/schemas/decimal'
        _lowerLimit:
          $ref: '#/components/schemas/Element'
        upperLimit:
          description: >-
            The upper limit of detection of the measured points. This is needed
            if any of the data points have the value "U" (higher than detection
            limit).
          $ref: '#/components/schemas/decimal'
        _upperLimit:
          $ref: '#/components/schemas/Element'
        dimensions:
          description: >-
            The number of sample points at each time point. If this value is
            greater than one, then the dimensions will be interlaced - all the
            sample points for a point in time will be recorded at once.
          $ref: '#/components/schemas/positiveInt'
        _dimensions:
          $ref: '#/components/schemas/Element'
        data:
          description: >-
            A series of data points which are decimal values separated by a
            single space (character u20). The special values "E" (error), "L"
            (below detection limit) and "U" (above detection limit) can also be
            used in place of a decimal value.
          $ref: '#/components/schemas/string'
        _data:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
      required:
        - origin
    Signature:
      description: A signature along with supporting context. The signature may be a digital signature that is cryptographic in nature, or some other signature acceptable to the domain. This other signature may be as simple as a graphical image representing a hand-written signature, or a signature ceremony Different signature approaches have different utilities.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        type:
          description: An indication of the reason that the entity signed this document. This may be explicitly included as part of the signature information and can be used when determining accountability for various actions concerning the document.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
        when:
          $ref: '#/components/schemas/instant'
        _when:
          $ref: '#/components/schemas/Element'
        who:
          description: >-
            A reference to an application-usable description of the identity
            that signed  (e.g. the signature used their private key).
          $ref: '#/components/schemas/Reference'
        onBehalfOf:
          description: >-
            A reference to an application-usable description of the identity
            that is represented by the signature.
          $ref: '#/components/schemas/Reference'
        targetFormat:
          description: >-
            A mime type that indicates the technical format of the target
            resources signed by the signature.
          $ref: '#/components/schemas/code'
        _targetFormat:
          $ref: '#/components/schemas/Element'
        sigFormat:
          description: >-
            A mime type that indicates the technical format of the signature.
            Important mime types are application/signature+xml for X ML DigSig,
            application/jose for JWS, and image/* for a graphical image of a
            signature, etc.
          $ref: '#/components/schemas/code'
        _sigFormat:
          $ref: '#/components/schemas/Element'
        data:
          description: >-
            The base64 encoding of the Signature content. When signature is not
            recorded electronically this element would be empty.
          $ref: '#/components/schemas/base64Binary'
        _data:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
      required:
        - type
        - who
    HumanName:
      description: A human's name with the ability to identify parts and usage.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        use:
          description: Identifies the purpose for this name.
          enum:
            - usual
            - official
            - temp
            - nickname
            - anonymous
            - old
            - maiden
        _use:
          $ref: '#/components/schemas/Element'
        text:
          description: >-
            Specifies the entire name as it should be displayed e.g. on an
            application UI. This may be provided instead of or as well as the
            specific parts.
          $ref: '#/components/schemas/string'
        _text:
          $ref: '#/components/schemas/Element'
        family:
          description: >-
            The part of a name that links to the genealogy. In some cultures
            (e.g. Eritrea) the family name of a son is the first name of his
            father.
          $ref: '#/components/schemas/string'
        _family:
          $ref: '#/components/schemas/Element'
        given:
          description: Given name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        _given:
          description: Extensions for given
          items:
            $ref: '#/components/schemas/Element'
          type: array
        prefix:
          description: Part of the name that is acquired as a title due to academic, legal, employment or nobility status, etc. and that appears at the start of the name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        _prefix:
          description: Extensions for prefix
          items:
            $ref: '#/components/schemas/Element'
          type: array
        suffix:
          description: Part of the name that is acquired as a title due to academic, legal, employment or nobility status, etc. and that appears at the end of the name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        _suffix:
          description: Extensions for suffix
          items:
            $ref: '#/components/schemas/Element'
          type: array
        period:
          description: >-
            Indicates the period of time when this name was valid for the named
            person.
          $ref: '#/components/schemas/Period'
      additionalProperties: false
    Address:
      description: An address expressed using postal conventions (as opposed to GPS or other location definition formats).  This data type may be used to convey addresses for use in delivering mail as well as for visiting locations which might not be valid for mail delivery.  There are a variety of postal address formats defined around the world.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        use:
          description: The purpose of this address.
          enum:
            - home
            - work
            - temp
            - old
            - billing
        _use:
          $ref: '#/components/schemas/Element'
        type:
          description: Distinguishes between physical addresses (those you can visit) and mailing addresses (e.g. PO Boxes and care-of addresses). Most addresses are both.
          enum:
            - postal
            - physical
            - both
        _type:
          $ref: '#/components/schemas/Element'
        text:
          description: >-
            Specifies the entire address as it should be displayed e.g. on a
            postal label. This may be provided instead of or as well as the
            specific parts.
          $ref: '#/components/schemas/string'
        _text:
          $ref: '#/components/schemas/Element'
        line:
          description: This component contains the house number, apartment number, street name, street direction,  P.O. Box number, delivery hints, and similar address information.
          items:
            $ref: '#/components/schemas/string'
          type: array
        _line:
          description: Extensions for line
          items:
            $ref: '#/components/schemas/Element'
          type: array
        city:
          description: >-
            The name of the city, town, suburb, village or other community or
            delivery center.
          $ref: '#/components/schemas/string'
        _city:
          $ref: '#/components/schemas/Element'
        district:
          $ref: '#/components/schemas/string'
        _district:
          $ref: '#/components/schemas/Element'
        state:
          description: >-
            Sub-unit of a country with limited sovereignty in a federally
            organized country. A code may be used if codes are in common use
            (e.g. US 2 letter state codes).
          $ref: '#/components/schemas/string'
        _state:
          $ref: '#/components/schemas/Element'
        postalCode:
          $ref: '#/components/schemas/string'
        _postalCode:
          $ref: '#/components/schemas/Element'
        country:
          $ref: '#/components/schemas/string'
        _country:
          $ref: '#/components/schemas/Element'
        period:
          $ref: '#/components/schemas/Period'
      additionalProperties: false
    ContactPoint:
      description: Details for all kinds of technology mediated contact points for a person or organization, including telephone, email, etc.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        system:
          description: Telecommunications form for contact point - what communications system is required to make use of the contact.
          enum:
            - phone
            - fax
            - email
            - pager
            - url
            - sms
            - other
        _system:
          $ref: '#/components/schemas/Element'
        value:
          description: >-
            The actual contact point details, in a form that is meaningful to
            the designated communication system (i.e. phone number or email
            address).
          $ref: '#/components/schemas/string'
        _value:
          $ref: '#/components/schemas/Element'
        use:
          description: Identifies the purpose for the contact point.
          enum:
            - home
            - work
            - temp
            - old
            - mobile
        _use:
          $ref: '#/components/schemas/Element'
        rank:
          description: >-
            Specifies a preferred order in which to use a set of contacts.
            ContactPoints with lower rank values are more preferred than those
            with higher rank values.
          $ref: '#/components/schemas/positiveInt'
        _rank:
          $ref: '#/components/schemas/Element'
        period:
          $ref: '#/components/schemas/Period'
      additionalProperties: false
    Timing:
      description: Specifies an event that may occur multiple times. Timing schedules are used to record when things are planned, expected or requested to occur. The most common usage is in dosage instructions for medications. They are also used when planning care of various kinds, and may be used for reporting the schedule to which past regular activities were carried out.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        modifierExtension:
          description: |-
            May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.

            Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself).
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        event:
          description: Identifies specific times when the event occurs.
          items:
            $ref: '#/components/schemas/dateTime'
          type: array
        _event:
          description: Extensions for event
          items:
            $ref: '#/components/schemas/Element'
          type: array
        repeat:
          $ref: '#/components/schemas/Timing_Repeat'
        code:
          description: >-
            A code for the timing schedule (or just text in code.text). Some
            codes such as BID are ubiquitous, but many institutions define their
            own additional codes. If a code is provided, the code is understood
            to be a complete statement of whatever is specified in the
            structured timing data, and either the code or the data may be used
            to interpret the Timing, with the exception that .repeat.bounds
            still applies over the code (and is not contained in the code).
          $ref: '#/components/schemas/CodeableConcept'
      additionalProperties: false
    Timing_Repeat:
      description: Specifies an event that may occur multiple times. Timing schedules are used to record when things are planned, expected or requested to occur. The most common usage is in dosage instructions for medications. They are also used when planning care of various kinds, and may be used for reporting the schedule to which past regular activities were carried out.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        modifierExtension:
          description: |-
            May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.

            Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself).
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        boundsDuration:
          description: >-
            Either a duration for the length of the timing schedule, a range of
            possible length, or outer bounds for start and/or end limits of the
            timing schedule.
          $ref: '#/components/schemas/Duration'
        boundsRange:
          description: >-
            Either a duration for the length of the timing schedule, a range of
            possible length, or outer bounds for start and/or end limits of the
            timing schedule.
          $ref: '#/components/schemas/Range'
        boundsPeriod:
          description: >-
            Either a duration for the length of the timing schedule, a range of
            possible length, or outer bounds for start and/or end limits of the
            timing schedule.
          $ref: '#/components/schemas/Period'
        count:
          description: >-
            A total count of the desired number of repetitions across the
            duration of the entire timing specification. If countMax is present,
            this element indicates the lower bound of the allowed range of count
            values.
          $ref: '#/components/schemas/positiveInt'
        _count:
          $ref: '#/components/schemas/Element'
        countMax:
          description: >-
            If present, indicates that the count is a range - so to perform the
            action between [count] and [countMax] times.
          $ref: '#/components/schemas/positiveInt'
        _countMax:
          $ref: '#/components/schemas/Element'
        duration:
          description: >-
            How long this thing happens for when it happens. If durationMax is
            present, this element indicates the lower bound of the allowed range
            of the duration.
          $ref: '#/components/schemas/decimal'
        _duration:
          $ref: '#/components/schemas/Element'
        durationMax:
          description: >-
            If present, indicates that the duration is a range - so to perform
            the action between [duration] and [durationMax] time length.
          $ref: '#/components/schemas/decimal'
        _durationMax:
          $ref: '#/components/schemas/Element'
        durationUnit:
          description: The units of time for the duration, in UCUM units.
          enum:
            - s
            - min
            - h
            - d
            - wk
            - mo
            - a
        _durationUnit:
          $ref: '#/components/schemas/Element'
        frequency:
          description: >-
            The number of times to repeat the action within the specified
            period. If frequencyMax is present, this element indicates the lower
            bound of the allowed range of the frequency.
          $ref: '#/components/schemas/positiveInt'
        _frequency:
          $ref: '#/components/schemas/Element'
        frequencyMax:
          description: >-
            If present, indicates that the frequency is a range - so to repeat
            between [frequency] and [frequencyMax] times within the period or
            period range.
          $ref: '#/components/schemas/positiveInt'
        _frequencyMax:
          $ref: '#/components/schemas/Element'
        period:
          description: >-
            Indicates the duration of time over which repetitions are to occur;
            e.g. to express "3 times per day", 3 would be the frequency and "1
            day" would be the period. If periodMax is present, this element
            indicates the lower bound of the allowed range of the period length.
          $ref: '#/components/schemas/decimal'
        _period:
          $ref: '#/components/schemas/Element'
        periodMax:
          description: >-
            If present, indicates that the period is a range from [period] to
            [periodMax], allowing expressing concepts such as "do this once
            every 3-5 days.
          $ref: '#/components/schemas/decimal'
        _periodMax:
          $ref: '#/components/schemas/Element'
        periodUnit:
          description: The units of time for the period in UCUM units.
          enum:
            - s
            - min
            - h
            - d
            - wk
            - mo
            - a
        _periodUnit:
          $ref: '#/components/schemas/Element'
        dayOfWeek:
          description: If one or more days of week is provided, then the action happens only on the specified day(s).
          items:
            $ref: '#/components/schemas/code'
          type: array
        _dayOfWeek:
          description: Extensions for dayOfWeek
          items:
            $ref: '#/components/schemas/Element'
          type: array
        timeOfDay:
          description: Specified time of day for action to take place.
          items:
            $ref: '#/components/schemas/time'
          type: array
        _timeOfDay:
          description: Extensions for timeOfDay
          items:
            $ref: '#/components/schemas/Element'
          type: array
        when:
          description: An approximate time period during the day, potentially linked to an event of daily living that indicates when the action should occur.
          items:
            enum:
              - MORN
              - MORN.early
              - MORN.late
              - NOON
              - AFT
              - AFT.early
              - AFT.late
              - EVE
              - EVE.early
              - EVE.late
              - NIGHT
              - PHS
              - HS
              - WAKE
              - C
              - CM
              - CD
              - CV
              - AC
              - ACM
              - ACD
              - ACV
              - PC
              - PCM
              - PCD
              - PCV
          type: array
        _when:
          description: Extensions for when
          items:
            $ref: '#/components/schemas/Element'
          type: array
        offset:
          description: >-
            The number of minutes from the event. If the event code does not
            indicate whether the minutes is before or after the event, then the
            offset is assumed to be after the event.
          $ref: '#/components/schemas/unsignedInt'
        _offset:
          $ref: '#/components/schemas/Element'
      additionalProperties: false
    Meta:
      description: The metadata about a resource. This is content in the resource that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        versionId:
          description: >-
            The version specific identifier, as it appears in the version
            portion of the URL. This value changes when the resource is created,
            updated, or deleted.
          $ref: '#/components/schemas/id'
        _versionId:
          $ref: '#/components/schemas/Element'
        lastUpdated:
          $ref: '#/components/schemas/instant'
        _lastUpdated:
          $ref: '#/components/schemas/Element'
        source:
          description: >-
            A uri that identifies the source system of the resource. This
            provides a minimal amount of [[[Provenance]]] information that can
            be used to track or differentiate the source of information in the
            resource. The source may identify another FHIR server, document,
            message, database, etc.
          $ref: '#/components/schemas/uri'
        _source:
          $ref: '#/components/schemas/Element'
        profile:
          description: A list of profiles (references to [[[StructureDefinition]]] resources) that this resource claims to conform to. The URL is a reference to [[[StructureDefinition.url]]].
          items:
            $ref: '#/components/schemas/canonical'
          type: array
        security:
          description: Security labels applied to this resource. These tags connect specific resources to the overall security policy and infrastructure.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
        tag:
          description: Tags applied to this resource. Tags are intended to be used to identify and relate resources to process and workflow, and applications are not required to consider the tags when interpreting the meaning of a resource.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
      additionalProperties: false
    ContactDetail:
      description: Specifies contact information for a person or organization.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        name:
          $ref: '#/components/schemas/string'
        _name:
          $ref: '#/components/schemas/Element'
        telecom:
          description: The contact details for the individual (if a name was provided) or the organization.
          items:
            $ref: '#/components/schemas/ContactPoint'
          type: array
      additionalProperties: false
    Contributor:
      description: A contributor to the content of a knowledge asset, including authors, editors, reviewers, and endorsers.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        type:
          description: The type of contributor.
          enum:
            - author
            - editor
            - reviewer
            - endorser
        _type:
          $ref: '#/components/schemas/Element'
        name:
          description: >-
            The name of the individual or organization responsible for the
            contribution.
          $ref: '#/components/schemas/string'
        _name:
          $ref: '#/components/schemas/Element'
        contact:
          description: Contact details to assist a user in finding and communicating with the contributor.
          items:
            $ref: '#/components/schemas/ContactDetail'
          type: array
      additionalProperties: false
    DataRequirement:
      description: Describes a required data item for evaluation in terms of the type of data, and optional code or date-based filters of the data.
      properties:
        id:
          description: >-
            Unique id for the element within a resource (for internal
            references). This may be any string value that does not contain
            spaces.
          $ref: '#/components/schemas/string'
        extension:
          description: May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.
          items:
            $ref: '#/components/schemas/Extension'
          type: array
        type:
          description: >-
            The type of the required data, specified as the type name of a
            resource. For profiles, this value is set to the type of the base
            resource of the profile.
          $ref: '#/components/schemas/code'
        _type:
          $ref: '#/components/schemas/Element'
        profile:
          description: The profile of the required data, specified as the uri of the profile definition.
          items:
            $ref: '#/components/schemas/canonical'
          type: array
        subjectCodeableConcept:
          description: >-
            The intended subjects of the data requirement. If this element is
            not provided, a Patient subject is assumed.
          $ref: '#/components/schemas/CodeableConcept'
        subjectReference:
          description: >-
            The intended subjects of the data requirement. If this element is
            not provided, a Patient subject is assumed.
          $ref: '#/components/schemas/Reference'
        mustSupport:
          description: |-
            Indicates that specific elements of the type are referenced by the knowledge module and must be supported by the consumer in order to obtain an effective evaluation. This does not mean that a value is required for this element, only that the consuming system must understand the element and be able to provide values for it if they are available.

            The value of mustSupport SHALL be a FHIRPath resolveable on the type of the DataRequirement. The path SHALL consist only of identifiers, constant indexers, and .resolve() (see the [Simple FHIRPath Profile](fhirpath.html#simple) for full details).
          items:
            $ref: '#/components/schemas/string'
          type: array
        _mustSupport:
          description: Extensions for mustSupport
          items:
            $ref: '#/components/schemas/Element'
          type: array
        codeFilter:
          description: Code filters specify additional constraints on the data, specifying the value set of interest for a particular element of the data. Each code filter defines an additional constraint on the data, i.e. code filters are AND'ed, not OR'ed.
          items:
            $ref: '#/components/schemas/DataRequirement_CodeFilter'
          type: array
        dateFilter:
          description: Date filters specify additional constraints on the data in terms of the applicable date range for specific elements. Each date filter specifies an additional constraint on the data, i.e. date filters are AND'ed, not OR'ed.
          items:
            $ref: '#/components/schemas/DataRequirement_DateFilter'
          type: array
        limit:
          description: >-
            Specifies a maximum number of results that are required (uses the
            _count search parameter).
          $ref: '#/components/schemas/positiveInt'
        _limit:
          $ref: '#/components/schemas/Element'
        sort:
          description: Specifies the order of the results to be returned.
          items:
[...]
