/* Properties CSS per i componenti standard */

.outputFieldLabel {
	font-weight: bold;
}

.labelAllineataDx {
	text-align: right;
	padding: 0px 10px;
}

.labelAllineataSx {
	padding: 0px 10px;
}

.valueAllineataSx {
    padding: 0 10px 0 2px;
}

.outputGroupTable{
	border-spacing: 3px;
}

.buttonNoRed{
	border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
	color:#565656 !important;
}

.noborder {
	border: none !important;
}

.nopadding {
	padding: 0px !important;
}

.nomargin {
	margin: 0px !important;
}