<openspcoop2 xmlns="http://www.openspcoop2.org/core/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openspcoop2.org/core/config config.xsd">


      <soggetto tipo="PROXY" nome="Comune" > 

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYRichiestaStatoFamigliaSOAP11/Acquisisci" 
	      autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP11" />
              <azione nome="Acquisisci" />
	      <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYRichiestaStatoFamigliaSOAP12/Acquisisci"
              autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP12" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYRichiestaStatoFamigliaSOAP11Sec/Acquisisci"
              autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP11Sec" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYRichiestaStatoFamigliaSOAP12Sec/Acquisisci"
              autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP12Sec" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

         <servizio-applicativo nome="Comune_SA" >
              <invocazione-porta>
                 <credenziali tipo="basic" user="Comune" password="123456" />
              </invocazione-porta>
          </servizio-applicativo>


     </soggetto>



      <soggetto tipo="PROXY" nome="CentroAnagrafico" > 

          <porta-applicativa nome="RichiestaStatoFamigliaSOAP11" stateless="abilitato">
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP11" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="RichiestaStatoFamigliaSOAP11_SA" /> 
          </porta-applicativa>

          <porta-applicativa nome="RichiestaStatoFamigliaSOAP12" stateless="abilitato">
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP12" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="RichiestaStatoFamigliaSOAP12_SA" />
          </porta-applicativa>

          <porta-applicativa nome="RichiestaStatoFamigliaSOAP11Sec" stateless="abilitato">
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP11Sec" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="RichiestaStatoFamigliaSOAP11Sec_SA" />
          </porta-applicativa>

          <porta-applicativa nome="RichiestaStatoFamigliaSOAP12Sec" stateless="abilitato">
              <servizio tipo="PROXY" nome="RichiestaStatoFamigliaSOAP12Sec" />
              <azione nome="Acquisisci" />
              <servizio-applicativo nome="RichiestaStatoFamigliaSOAP12Sec_SA" />
          </porta-applicativa>

          <servizio-applicativo nome="RichiestaStatoFamigliaSOAP11_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreRichiestaStatoFamigliaSOAP11SA">
                         <property nome="location" valore="http://localhost:8888/tutorial/sincrono11" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

          <servizio-applicativo nome="RichiestaStatoFamigliaSOAP12_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreRichiestaStatoFamigliaSOAP12SA">
                         <property nome="location" valore="http://localhost:8888/tutorial/sincrono12" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

          <servizio-applicativo nome="RichiestaStatoFamigliaSOAP11Sec_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreRichiestaStatoFamigliaSOAP11SecSA">
                         <property nome="location" valore="http://localhost:8888/tutorial/sincronoSec11" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

          <servizio-applicativo nome="RichiestaStatoFamigliaSOAP12Sec_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreRichiestaStatoFamigliaSOAP12SecSA">
                         <property nome="location" valore="http://localhost:8888/tutorial/sincronoSec12" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

     </soggetto>

    <configurazione>
        <accesso-registro>
            <registro nome="registroXML" tipo="xml" location="/etc/openspcoop2/registroServizi.xml"
            />
        </accesso-registro>
        <inoltro-buste-non-riscontrate cadenza="60"/>
        <messaggi-diagnostici severita-log4j="infoIntegration" severita="infoIntegration"/>
        <tracciamento buste="abilitato" dump="abilitato"/>
    </configurazione>

</openspcoop2>
