<openspcoop2 xmlns="http://www.openspcoop2.org/core/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.openspcoop2.org/core/config config.xsd">
    
    
    <soggetto tipo="AS4" nome="MinisteroFruitore">
        
        <!-- Esempio SOAP -->
        <porta-delegata nome="GestioneFileSOAP" autenticazione="none" autorizzazione="none"
            integrazione="trasporto,urlBased,soap" stateless="abilitato">
            <soggetto-erogatore tipo="AS4" nome="MinisteroErogatore"/>
            <servizio tipo="AS4" nome="GestioneFileSOAP"/>
            <azione nome="pubblica"/>
        </porta-delegata>

        <!-- Esempio REST -->
        <porta-delegata nome="GestioneFileREST" autenticazione="none" autorizzazione="none"
            integrazione="trasporto,urlBased" stateless="abilitato">
            <soggetto-erogatore tipo="AS4" nome="MinisteroErogatore"/>
            <servizio tipo="AS4" nome="GestioneFileREST"/>
            <azione nome="pubblica"/>
        </porta-delegata>
         
    </soggetto>
    
    
    
    <soggetto tipo="AS4" nome="MinisteroErogatore">
        
        <!-- Esempio SOAP -->
        <porta-applicativa nome="GestioneFileSOAP" stateless="abilitato">
            <servizio tipo="AS4" nome="GestioneFileSOAP"/>
            <azione nome="pubblica"/>
            <servizio-applicativo nome="TRACE"/>
        </porta-applicativa>

        <!-- Esempio REST -->
        <porta-applicativa nome="GestioneFileREST" stateless="abilitato">
            <servizio tipo="AS4" nome="GestioneFileREST"/>
            <azione nome="pubblica"/>
            <servizio-applicativo nome="TRACE"/>
        </porta-applicativa>
        
        
        <servizio-applicativo nome="TRACE">
            <invocazione-servizio>
                <connettore tipo="http" nome="connettore di test">
                    <property nome="location" valore="http://localhost:8080/TestService/ping?saveMessageDir=/var/tmp/AS4"/>
                </connettore>
            </invocazione-servizio>
        </servizio-applicativo>
        
        
    </soggetto>
    
    <configurazione>
        <accesso-registro>
            <registro nome="registroXML" tipo="xml" location="/etc/openspcoop2/registroServizi.xml"
            />
        </accesso-registro>
        <inoltro-buste-non-riscontrate cadenza="60"/>
        <messaggi-diagnostici severita-log4j="infoIntegration" severita="infoIntegration"/>
        <tracciamento buste="abilitato" dump="abilitato"/>
    </configurazione>
    
</openspcoop2>
