.c3-chart-font {
    font-family: Roboto, sans-serif;
}
.c3-chart-nodata{
    font-size: 20px;
}
.c3-chart-title {
    font-size: 20px;
}
.c3-chart-subtitle {
    font-size: 16px;
}
.c3-axis-y-label {
    font-size: 14px;
}
g.c3-legend-item text {
    font-size: 14px;
}
g.tick text,
.c3 svg g g.c3-axis.c3-axis-x {
    font-size: 11px;
}
.c3-tooltip td {
    white-space: nowrap;
}

.c3-chart-arc text{
    font-size: 18px;
}
.label-text {
    alignment-baseline: middle;
    font: 10px Roboto, sans-serif;
    fill: #393939;
}
.label-line {
    stroke-width: 1;
    stroke: #393939;
}
.label-circle {
    fill: #393939;
}

.tooltip-table-style {
	word-wrap: break-word !important;
	max-width: 250px;
}

.heatmap-tooltip-table-style {
	word-wrap: break-word !important;
	max-width: 250px;
}

/* Classi introdotte per correzione delle problematiche CSP, ogni colore che veniva impostato attraverso l'attributo style e' diventato una classe */

/* Colori definiti all'interno del codice java */ 

.background-color-3B83B7 {
	background-color: #3B83B7;
}

.background-color-95B964 {
	background-color: #95B964;
}

.background-color-FF8F52 {
	background-color: #FF8F52;
}

.background-color-CD4A50 {
	background-color: #CD4A50;
}

/* Colori automatici definiti all'interno del codice javascript */ 

.background-color-2484c1 {
	background-color: #2484c1;
}

.background-color-65a620 {
	background-color: #65a620;
}

.background-color-7b6888 {
	background-color: #7b6888;
}

.background-color-a05d56 {
	background-color: #a05d56;
}

.background-color-961a1a {
	background-color: #961a1a;
}

.background-color-d8d23a {
	background-color: #d8d23a;
}

.background-color-e98125 {
	background-color: #e98125;
}

.background-color-d0743c {
	background-color: #d0743c;
}

.background-color-635222 {
	background-color: #635222;
}

.background-color-6ada6a {
	background-color: #6ada6a;
}

.background-color-0c6197 {
	background-color: #0c6197;
}

.background-color-7d9058 {
	background-color: #7d9058;
}

.background-color-207f33 {
	background-color: #207f33;
}

.background-color-44b9b0 {
	background-color: #44b9b0;
}

.background-color-bca44a {
	background-color: #bca44a;
}

.background-color-e4a14b {
	background-color: #e4a14b;
}

.background-color-a3acb2 {
	background-color: #a3acb2;
}

.background-color-8cc3e9 {
	background-color: #8cc3e9;
}

.background-color-69a6f9 {
	background-color: #69a6f9;
}

.background-color-5b388f {
	background-color: #5b388f;
}

.background-color-546e91 {
	background-color: #546e91;
}

.background-color-8bde95 {
	background-color: #8bde95;
}

.background-color-d2ab58 {
	background-color: #d2ab58;
}

.background-color-273c71 {
	background-color: #273c71;
}

.background-color-98bf6e {
	background-color: #98bf6e;
}

.background-color-4daa4b {
	background-color: #4daa4b;
}

.background-color-98abc5 {
	background-color: #98abc5;
}

.background-color-cc1010 {
	background-color: #cc1010;
}

.background-color-31383b {
	background-color: #31383b;
}

.background-color-006391 {
	background-color: #006391;
}

.background-color-c2643f {
	background-color: #c2643f;
}

.background-color-b0a474 {
	background-color: #b0a474;
}

.background-color-a5a39c {
	background-color: #a5a39c;
}

.background-color-a9c2bc {
	background-color: #a9c2bc;
}

.background-color-22af8c {
	background-color: #22af8c;
}

.background-color-7fcecf {
	background-color: #7fcecf;
}

.background-color-987ac6 {
	background-color: #987ac6;
}

.background-color-3d3b87 {
	background-color: #3d3b87;
}

.background-color-b77b1c {
	background-color: #b77b1c;
}

.background-color-c9c2b6 {
	background-color: #c9c2b6;
}

.background-color-807ece {
	background-color: #807ece;
}

.background-color-8db27c {
	background-color: #8db27c;
}

.background-color-be66a2 {
	background-color: #be66a2;
}

.background-color-9ed3c6 {
	background-color: #9ed3c6;
}

.background-color-00644b {
	background-color: #00644b;
}

.background-color-005064 {
	background-color: #005064;
}

.background-color-77979f {
	background-color: #77979f;
}

.background-color-77e079 {
	background-color: #77e079;
}

.background-color-9c73ab {
	background-color: #9c73ab;
}

.background-color-1f79a7 {
	background-color: #1f79a7;
}

/* Classi per gradiente heatmap (50 step da #FFFFFF a #3B83B7) */

.heatmap-background-color-FFFFFF {
	background-color: #FFFFFF;
	fill: #FFFFFF;
}

.heatmap-background-color-FBFCFD {
	background-color: #FBFCFD;
	fill: #FBFCFD;
}

.heatmap-background-color-F7F9FC {
	background-color: #F7F9FC;
	fill: #F7F9FC;
}

.heatmap-background-color-F3F7FA {
	background-color: #F3F7FA;
	fill: #F3F7FA;
}

.heatmap-background-color-EFF4F9 {
	background-color: #EFF4F9;
	fill: #EFF4F9;
}

.heatmap-background-color-EBF2F7 {
	background-color: #EBF2F7;
	fill: #EBF2F7;
}

.heatmap-background-color-E7EFF6 {
	background-color: #E7EFF6;
	fill: #E7EFF6;
}

.heatmap-background-color-E3EDF4 {
	background-color: #E3EDF4;
	fill: #E3EDF4;
}

.heatmap-background-color-DFEAF3 {
	background-color: #DFEAF3;
	fill: #DFEAF3;
}

.heatmap-background-color-DBE8F1 {
	background-color: #DBE8F1;
	fill: #DBE8F1;
}

.heatmap-background-color-D7E5F0 {
	background-color: #D7E5F0;
	fill: #D7E5F0;
}

.heatmap-background-color-D3E3EE {
	background-color: #D3E3EE;
	fill: #D3E3EE;
}

.heatmap-background-color-CFE0ED {
	background-color: #CFE0ED;
	fill: #CFE0ED;
}

.heatmap-background-color-CBDEEB {
	background-color: #CBDEEB;
	fill: #CBDEEB;
}

.heatmap-background-color-C7DBEA {
	background-color: #C7DBEA;
	fill: #C7DBEA;
}

.heatmap-background-color-C3D9E8 {
	background-color: #C3D9E8;
	fill: #C3D9E8;
}

.heatmap-background-color-BFD6E7 {
	background-color: #BFD6E7;
	fill: #BFD6E7;
}

.heatmap-background-color-BBD3E6 {
	background-color: #BBD3E6;
	fill: #BBD3E6;
}

.heatmap-background-color-B7D1E4 {
	background-color: #B7D1E4;
	fill: #B7D1E4;
}

.heatmap-background-color-B3CEE3 {
	background-color: #B3CEE3;
	fill: #B3CEE3;
}

.heatmap-background-color-AFCCE1 {
	background-color: #AFCCE1;
	fill: #AFCCE1;
}

.heatmap-background-color-ABC9E0 {
	background-color: #ABC9E0;
	fill: #ABC9E0;
}

.heatmap-background-color-A7C7DE {
	background-color: #A7C7DE;
	fill: #A7C7DE;
}

.heatmap-background-color-A3C4DD {
	background-color: #A3C4DD;
	fill: #A3C4DD;
}

.heatmap-background-color-9FC2DB {
	background-color: #9FC2DB;
	fill: #9FC2DB;
}

.heatmap-background-color-9BBFDA {
	background-color: #9BBFDA;
	fill: #9BBFDA;
}

.heatmap-background-color-97BDD8 {
	background-color: #97BDD8;
	fill: #97BDD8;
}

.heatmap-background-color-93BAD7 {
	background-color: #93BAD7;
	fill: #93BAD7;
}

.heatmap-background-color-8FB8D5 {
	background-color: #8FB8D5;
	fill: #8FB8D5;
}

.heatmap-background-color-8BB5D4 {
	background-color: #8BB5D4;
	fill: #8BB5D4;
}

.heatmap-background-color-87B3D2 {
	background-color: #87B3D2;
	fill: #87B3D2;
}

.heatmap-background-color-83B0D1 {
	background-color: #83B0D1;
	fill: #83B0D1;
}

.heatmap-background-color-7FAECF {
	background-color: #7FAECF;
	fill: #7FAECF;
}

.heatmap-background-color-7BABCE {
	background-color: #7BABCE;
	fill: #7BABCE;
}

.heatmap-background-color-77A8CD {
	background-color: #77A8CD;
	fill: #77A8CD;
}

.heatmap-background-color-73A6CB {
	background-color: #73A6CB;
	fill: #73A6CB;
}

.heatmap-background-color-6FA3CA {
	background-color: #6FA3CA;
	fill: #6FA3CA;
}

.heatmap-background-color-6BA1C8 {
	background-color: #6BA1C8;
	fill: #6BA1C8;
}

.heatmap-background-color-679EC7 {
	background-color: #679EC7;
	fill: #679EC7;
}

.heatmap-background-color-639CC5 {
	background-color: #639CC5;
	fill: #639CC5;
}

.heatmap-background-color-5F99C4 {
	background-color: #5F99C4;
	fill: #5F99C4;
}

.heatmap-background-color-5B97C2 {
	background-color: #5B97C2;
	fill: #5B97C2;
}

.heatmap-background-color-5794C1 {
	background-color: #5794C1;
	fill: #5794C1;
}

.heatmap-background-color-5392BF {
	background-color: #5392BF;
	fill: #5392BF;
}

.heatmap-background-color-4F8FBE {
	background-color: #4F8FBE;
	fill: #4F8FBE;
}

.heatmap-background-color-4B8DBC {
	background-color: #4B8DBC;
	fill: #4B8DBC;
}

.heatmap-background-color-478ABB {
	background-color: #478ABB;
	fill: #478ABB;
}

.heatmap-background-color-4388B9 {
	background-color: #4388B9;
	fill: #4388B9;
}

.heatmap-background-color-3F85B8 {
	background-color: #3F85B8;
	fill: #3F85B8;
}

.heatmap-background-color-3B83B7 {
	background-color: #3B83B7;
	fill: #3B83B7;
}
