<suppressions xmlns="https://jeremylong.github.io/DependencyCheck/dependency-suppression.1.3.xsd">
   <suppress>
      <notes><![CDATA[
      file name: spring-web-5.3.34.jar
      La vulnerabilità indicata viene descritta come:
       "Pivotal Spring Framework through 5.3.16 suffers from a potential remote code execution (RCE) issue if used for Java deserialization of untrusted data. Depending on how the library is implemented within a product, this issue may or not occur, and authentication may be required. NOTE: the vendor's position is that untrusted data is not an intended use case. The product's behavior will not be changed because some users rely on deserialization of trusted data."
      La versione utilizzata è superiore alla '5.3.16' quindi sembrerebbe un falso positivo.
      Dalle discussioni seguenti viene compresa la motivazione della segnalazione:
      - https://github.com/jeremylong/DependencyCheck/issues/4849
      - https://github.com/jeremylong/DependencyCheck/issues/4558
      La libreria, fino ad un rilascio della versione 6.x, ha solamente deprecato l'utilizzo degli oggetti vulnerabili.
      Nel progetto GovWay è giusto quindi considerarlo un falso positivo poichè la classe oggetto della vulnerabilità (https://docs.spring.io/spring-framework/docs/current/reference/html/integration.html#remoting-httpinvoker) non viene utilizzata.
      ]]></notes>
      <packageUrl regex="true">^pkg:maven/org\.springframework/spring\-web@.*$</packageUrl>
      <cve>CVE-2016-1000027</cve>
   </suppress>
</suppressions>
