# Ignore everything in this directory
build
dist
doc
bin
tmp
target
.ant-targets-build.xml
local_env.xml
#testsuite ignores
testsuite/RisultatiTestSuite/
testsuite/jdbc/**
# Except this file
!.gitignore
