<openspcoop2 xmlns="http://www.openspcoop2.org/core/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openspcoop2.org/core/config config.xsd">


      <soggetto tipo="PROXY" nome="Comune" > 

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYComunicazioneVariazioneSOAP11/Notifica" 
	      autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP11" />
              <azione nome="Notifica" />
	      <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYComunicazioneVariazioneSOAP12/Notifica"
              autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP12" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYComunicazioneVariazioneSOAP11Sec/Notifica"
              autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP11Sec" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

          <porta-delegata nome="PROXYComune/PROXYCentroAnagrafico/PROXYComunicazioneVariazioneSOAP12Sec/Notifica"
              autenticazione="basic" autorizzazione="openspcoop" stateless="abilitato">
              <soggetto-erogatore tipo="PROXY" nome="CentroAnagrafico" />
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP12Sec" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="Comune_SA" />
          </porta-delegata>

         <servizio-applicativo nome="Comune_SA" >
              <invocazione-porta>
                 <credenziali tipo="basic" user="Comune" password="123456" />
              </invocazione-porta>
          </servizio-applicativo>


     </soggetto>



      <soggetto tipo="PROXY" nome="CentroAnagrafico" > 

          <porta-applicativa nome="ComunicazioneVariazioneSOAP11" stateless="abilitato">
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP11" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="ComunicazioneVariazioneSOAP11_SA" /> 
          </porta-applicativa>

          <porta-applicativa nome="ComunicazioneVariazioneSOAP12" stateless="abilitato">
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP12" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="ComunicazioneVariazioneSOAP12_SA" />
          </porta-applicativa>

          <porta-applicativa nome="ComunicazioneVariazioneSOAP11Sec" stateless="abilitato">
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP11Sec" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="ComunicazioneVariazioneSOAP11Sec_SA" />
          </porta-applicativa>

          <porta-applicativa nome="ComunicazioneVariazioneSOAP12Sec" stateless="abilitato">
              <servizio tipo="PROXY" nome="ComunicazioneVariazioneSOAP12Sec" />
              <azione nome="Notifica" />
              <servizio-applicativo nome="ComunicazioneVariazioneSOAP12Sec_SA" />
          </porta-applicativa>

          <servizio-applicativo nome="ComunicazioneVariazioneSOAP11_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreComunicazioneVariazioneSOAP11SA">
                         <property nome="location" valore="http://localhost:8888/tutorial/oneway11" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

          <servizio-applicativo nome="ComunicazioneVariazioneSOAP12_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreComunicazioneVariazioneSOAP12SA">
                         <property nome="location" valore="http://localhost:8888/tutorial/oneway12" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

          <servizio-applicativo nome="ComunicazioneVariazioneSOAP11Sec_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreComunicazioneVariazioneSOAP11SecSA">
                         <property nome="location" valore="http://localhost:8888/tutorial/onewaySec11" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

          <servizio-applicativo nome="ComunicazioneVariazioneSOAP12Sec_SA" >
                  <invocazione-servizio>
                     <connettore tipo="http" nome="ConnettoreComunicazioneVariazioneSOAP12SecSA">
                         <property nome="location" valore="http://localhost:8888/tutorial/onewaySec12" />
                     </connettore>
                 </invocazione-servizio>
          </servizio-applicativo>

     </soggetto>

    <configurazione>
        <accesso-registro>
            <registro nome="registroXML" tipo="xml" location="/etc/openspcoop2/registroServizi.xml"
            />
        </accesso-registro>
        <inoltro-buste-non-riscontrate cadenza="60"/>
        <messaggi-diagnostici severita-log4j="infoIntegration" severita="infoIntegration"/>
        <tracciamento buste="abilitato" dump="abilitato"/>
    </configurazione>

</openspcoop2>
