<?xml version="1.0" encoding="iso-8859-1"?>

<project name="TestServicer_LocalEnv" basedir=".">

	<!-- ApplicationServer version -->
	<property name="as" value="jboss/wildfly/tomcat" />
	
	<!-- RootDir -->  
	<property name="rootDir" location="../../../../" />
	
	<!-- Libraries -->
	<property name="libs" location="${rootDir}/lib" />
	<property name="required_lib" value="${libs}"/>
	<property name="openspcoop2_libs" location="${rootDir}/core/dist" />
	  
</project>
