# Ignore everything in this directory
ant
antinstaller
applicationServer
axiom
axis14
bean-validation
commons
cxf
faces
git
httpcore
jackson
javax
jax
jetty
jminix
json
log
lucene
opensaml
proguard
reports
saaj
security
shared
soapbox
spring
spring-security
swagger
swagger-codegen
testsuite
wadl
wss4j
# Except this file
!.gitignore
