# Ignore everything in this directory
ant
antinstaller
applicationServer
axis14
bean-validation
commons
console
cxf
coverage
dynamicAnalysis
faces
git
httpcore
jackson
jakarta
jetty
jminix
json
log
lucene
opensaml
openapi4j
pdf
redis
reports
saaj
security
shared
spring
spring-security
staticAnalysis
swagger
swagger-codegen
testsuite
wss4j
# Except this file
!.gitignore
