# Ignore everything in this directory
build
dist
doc
log
.ant-targets-build.xml
mvn/build_testunits
mvn/log
mvn/target
mvn/sql/build_testunits
mvn/sql/log
mvn/sql/target
target
# Except this file
!.gitignore
