<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>govway-statistiche-timer</display-name>
	<description>GovWay Statistiche Timer Service</description>

	<!-- Startup Listener -->
	<listener>
		<listener-class>org.openspcoop2.pdd.timers.statistiche.server.StatisticheServletListener</listener-class>
	</listener>

</web-app>
