# URL Servizio
urlServizio=http://localhost:8080/domibus/services/backend



#  ------ Tipo di Operazione ------


#  ------ Tipo di Operazione  ------

# Comuni
#operazione=listPendingMessages
#operazione=getStatus
#operazione=getMessageErrors

# Receiver
#operazione=retrieveMessage


# ------ ID Messaggio ----

#msgID=6bbb68d2-7e3d-4dbd-ba63-186d8f34dc9e@domibus.eu

