<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>OpenSPCoop</display-name>


	<!-- CXF -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/jbossws-cxf.xml</param-value>
    </context-param>

	<!-- IntegrationManagerEngine -->
	<filter>
    	<filter-name>IntegrationManagerEngineFilter</filter-name>
    	<filter-class>org.openspcoop2.protocol.spcoop.backward_compatibility.services.skeleton.IntegrationManagerFilter</filter-class>
	</filter>

	<!-- IntegrationManagerEngine -->
	<filter-mapping>
	    <filter-name>IntegrationManagerEngineFilter</filter-name>
	    <url-pattern>/IntegrationManager/*</url-pattern>
	</filter-mapping>


    <!-- CXF -->
    <listener>
        <listener-class> org.springframework.web.context.ContextLoaderListener </listener-class>
    </listener>
    
    <!-- OpenSPCoop -->
    <listener>
        <listener-class>org.openspcoop2.protocol.spcoop.backward_compatibility.services.BackwardCompatibilityStartup</listener-class>
    </listener>
    
    
    <!-- Servlet: CXF -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <display-name>CXF Servlet</display-name>
        <servlet-class> org.apache.cxf.transport.servlet.CXFServlet </servlet-class>
		<init-param>
			<param-name>hide-service-list-page</param-name>
			<param-value>true</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- OpenSPCoop: Servizio di check stato PdD -->
    <servlet>
        <servlet-name>checkPdD</servlet-name>
        <servlet-class>org.openspcoop2.protocol.spcoop.backward_compatibility.services.CheckStatoPdD</servlet-class>
    </servlet>

    <!-- Servizio di Ricezione Contenuti Applicativi con imbustamento SOAP -->
    <servlet>
        <servlet-name>PDtoSOAP</servlet-name>
        <servlet-class>org.openspcoop2.protocol.spcoop.backward_compatibility.services.RicezioneContenutiApplicativiHTTPtoSOAP</servlet-class>
    </servlet>

	<!-- Serivizi PD e PA diretti senza passare da Axis Service Engine -->
	<servlet>
		<servlet-name>DirectPD</servlet-name>
		<servlet-class>org.openspcoop2.protocol.spcoop.backward_compatibility.services.RicezioneContenutiApplicativiDirect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DirectPA</servlet-name>
		<servlet-class>org.openspcoop2.protocol.spcoop.backward_compatibility.services.RicezioneBusteDirect</servlet-class>
	</servlet>



    <!-- servlet-mapping OpenSPCoop2 -->
    <servlet-mapping>
        <servlet-name>checkPdD</servlet-name>
        <url-pattern>/checkPdD/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDtoSOAP</servlet-name>
        <url-pattern>/PDtoSOAP/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectPD</servlet-name>
        <url-pattern>/PD/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectPA</servlet-name>
        <url-pattern>/PA/*</url-pattern>
    </servlet-mapping>

    
    
     

    <!-- Servlet Mapping: CXF -->
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    
    
    <!-- Altre configurazioni -->
    <session-config>
        <!-- Default to 5 minute session timeouts -->
        <session-timeout>5</session-timeout>
    </session-config>

    <!-- currently the W3C havent settled on a media type for WSDL;
		http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
		for now we go with the basic 'it's XML' response -->
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>


    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>


    <!-- Altre configurazioni -->


</web-app>
