endpoint=http://localhost:9003/

# Tipo Operazione
tipo=all
#tipo=richiesta
#tipo=richiestaStato
#tipo=risposta

# identificativo operazione (da utilizzare in caso di tipo=richiestaStato o tipo=risposta)
idOperazione=1

#username=username
#password=123456
