# MTOM Enabled
mtom=true

# Username/password
#username=
#password=

# !!! NOTA !!!
# Deve essere effettuata la configurazione SSL di test presente nella directory 'ConfigurazioneSSL'

# PdD
# -- SDICOOP --
pdd=https://localhost:8444/govway/sdi/in/
pa=ENTE/TrasmissioneFatture/v1
# -- SPCOOP --
#pdd=https://localhost:8444/govway/spcoop/in
#pa=


# ------- Fatturazione PA ---------------

# Tipo Operazione
# - RicevutaConsegna
# - NotificaMancataConsegna
# - NotificaScarto
# - NotificaEsito
# - NotificaDecorrenzaTermini
# - AttestazioneTrasmissioneFattura
tipoOperazione=RicevutaConsegna

# identificativoSDI
identificativoSDI=99147483647

# Buste
# Scommentare le seguenti opzioni se si usa il canale SPCoop
#busta.RicevutaConsegna=spcoopFiles/RicevutaConsegna.xml
#busta.NotificaMancataConsegna=spcoopFiles/NotificaMancataConsegna.xml
#busta.NotificaScarto=spcoopFiles/NotificaScarto.xml
#busta.NotificaEsito=spcoopFiles/NotificaEsito.xml
#busta.NotificaDecorrenzaTermini=spcoopFiles/NotificaDecorrenzaTermini.xml
#busta.AttestazioneTrasmissioneFattura=spcoopFiles/AttestazioneTrasmissioneFattura.xml

# -- RicevutaConsegna
# identificativo SDI maggiore di un integer
RicevutaConsegna=sdiFiles/esempiMessaggi/IT01234567890_41111_RC_001.xml
#RicevutaConsegna=sdiFiles/esempiMessaggi/IT01234567890_11111_RC_001.xml
#RicevutaConsegna=sdiFiles/esempiMessaggi.namespaceSenzaGov/IT01234567890_11111_RC_001.xml

# -- NotificaMancataConsegna
# identificativo SDI maggiore di un integer
NotificaMancataConsegna=sdiFiles/esempiMessaggi/IT01234567890_41111_MC_001.xml
#NotificaMancataConsegna=sdiFiles/esempiMessaggi/IT01234567890_11111_MC_001.xml
#NotificaMancataConsegna=sdiFiles/esempiMessaggi.namespaceSenzaGov/IT01234567890_11111_MC_001.xml

# -- NotificaScarto
# identificativo SDI maggiore di un integer
NotificaScarto=sdiFiles/esempiMessaggi/IT01234567890_41111_NS_001.xml
#NotificaScarto=sdiFiles/esempiMessaggi/IT01234567890_11111_NS_001.xml
#NotificaScarto=sdiFiles/esempiMessaggi.namespaceSenzaGov/IT01234567890_11111_NS_001.xml

# -- NotificaEsito
# identificativo SDI maggiore di un integer
NotificaEsito=sdiFiles/esempiMessaggi/IT01234567890_41111_NE_001.xml
#NotificaEsito=sdiFiles/esempiMessaggi/IT01234567890_11111_NE_001.xml
#NotificaEsito=sdiFiles/esempiMessaggi.namespaceSenzaGov/IT01234567890_11111_NE_001.xml

# -- NotificaDecorrenzaTermini
# identificativo SDI maggiore di un integer
NotificaDecorrenzaTermini=sdiFiles/esempiMessaggi/IT01234567890_41111_DT_001.xml
#NotificaDecorrenzaTermini=sdiFiles/esempiMessaggi/IT01234567890_11111_DT_001.xml
#NotificaDecorrenzaTermini=sdiFiles/esempiMessaggi.namespaceSenzaGov/IT01234567890_11111_DT_001.xml

# -- AttestazioneTrasmissioneFattura
# identificativo SDI maggiore di un integer
AttestazioneTrasmissioneFattura=sdiFiles/esempiMessaggi/IT01234567890_41111_AT_001.zip
#AttestazioneTrasmissioneFattura=sdiFiles/esempiMessaggi/IT01234567890_11111_AT_001.zip
#AttestazioneTrasmissioneFattura=sdiFiles/esempiMessaggi.namespaceSenzaGov/IT01234567890_11111_AT_001.zip


# ------- Fatturazione B2B ---------------

# Tipo Operazione
# (Ricevuta di Consegna) - RicevutaConsegna
# (Ricevuta di Impossibilità di Recapito) - NotificaMancataConsegna
# (Ricevuta di Scarto) - NotificaScarto
#tipoOperazione=RicevutaConsegna

# -- RicevutaConsegna
# identificativo SDI maggiore di un integer
#RicevutaConsegna=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_40022_RC_001.xml
#RicevutaConsegna=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_00022_RC_001.xml

# -- NotificaMancataConsegna
# identificativo SDI maggiore di un integer
#NotificaMancataConsegna=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_40022_MC_001.xml
#NotificaMancataConsegna=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_00022_MC_001.xml

# -- NotificaScarto
# identificativo SDI maggiore di un integer
#NotificaScarto=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_40022_NS_001.xml
#NotificaScarto=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_00022_NS_001.xml
#NotificaScarto=sdiFiles/esempiMessaggiB2B/ITHVQWPH73P42H501Y_00022_NS__001.xml
