/* Elementi del layout che forzano rich faces */
#navbar {
	width: 100%;
}

#body {
	width: 100% !important;
}

#menuct {
	padding: 0px;
	margin: 0px;
	border: none;
	background: ${body.background.color};
}

#menuct_body{
	padding: 0px;
}

#bodyWrapper {
	background: ${body.background.color};
}

#bodyWrapper_body {
	padding:  0px; 
}

#mainct {
	padding: 0px 16px;
}

.rich-page {
	margin: 0px;
	font-size: 14px;
}

/* Elementi per modificare la dimensione del menù e del body */
.rich-page-sidebar {
    float: left;
    background: ${body.background.color};
    height:100%;
    width: 240px;
}
.rich-page-body {
	margin-left: 240px;
	background: ${body.background.color};
}

.rich-page-content {
	border: none;
	background: ${body.background.color};
	height: 100%;
}

.rich-page-header {
	background: ${body.background.color};
	border-bottom: 2px solid ${page.header.border.bottom.color};
	color: ${page.header.text.color};
	padding: 0px;
}

.stileLogo {
	display: ${page.header.logo.display};
	padding: 16px 20px 16px 20px;
	background: ${body.background.color};
}

.stileTitolo {
/* 	padding: 16px 20px 16px 20px; */
	background: ${page.header.background.color};
}

.tdTitolo {
	padding: 16px 20px 16px 20px;
}

.tdTitoloNoPaddingLeft {
	padding: 16px 20px 16px 4px;
}

.tdTitoloStatusPdd{
	padding: 16px 16px 16px 16px; 
	width: 16px;
}

.appTitle{
	color: ${page.header.text.color};
	font-size: 24px;
	font-weight: bold;
}

/* Status */

.mainStatusStartStyle{
	z-index: 121;
	opacity: 0.8;
	background-color: ${mainStatus.background.color};
}

.mainStatusStartStyleInner {
	z-index: 129;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -160px;
	display: inline-block;
}

.rich-page-main {
	border: none;
}

.rich-panel {
	border: none;
	padding: 0px;
	background-color: ${paginacorrente.background.color};
}

.rich-panel-body {
	padding: 24px;
	color: ${body.color};
}

.pbody {
	padding: 0px;
}

.rich-panel-header {
	background-image: none;
	background-color: ${panel.header.background.color};
	font-size: 20px; 
	font-weight: bold;
	border: none;
	padding: 16px 16px 16px 28px;
	color: ${panel.header.color};
}

.rich-panel-header span {
	font-size: 20px; 
	font-weight: bold;
}

.icon-search-box {
	margin-right: 16px;
}

.rich-page-footer {
	background: ${body.background.color};
	background-image: none;
	border: none;
	text-align: center;
    padding: 20px 0;
}

.rich-page-footer-content {
	background: ${body.background.color};
}

/* Toggle Richpanel **/
.rich-stglpanel {
	border: none;
	padding: 0px;
}

.rich-stglpanel-body {
	padding: 24px;
}

.rich-pmenu-top-group-div {
	border: none;
	background: ${menu.background.color};
	padding: 0px;
	margin: 0px;
}

.rich-pmenu-group-self-label{
	color: ${menu.label.color};
}

.rich-stglpanel-header {
	background-image: none;
	background-color: ${panel.header.background.color};
	font-size: 20px; 
	font-weight: bold;
	border: none;
   	padding: 16px 16px 16px 28px;	
	color: ${panel.header.color};
}

/* header menu **/
.rich-pmenu-top-group {
	background-image: none;
	background-color: ${menu.header.background.color};
	color: ${menu.header.color};
	padding: 16px;
/* 	border-collapse: separate; */
}

.rich-pmenu-selected-element{
	font-style: normal;
}

.rich-pmenu-item {
	border: none;
    font-size: 16px;
}

.rich-pmenu-hovered-element td.rich-pmenu-item-label {
	color: ${menu.element.hover.color};
	border-left: 12px solid ${menu.element.hover.border.color};
	padding-left: 20px;
	font-weight: 600;
}

.rich-pmenu-hovered-element td.rich-pmenu-top-group-self-label , .rich-pmenu-top-group.rich-pmenu-group.rich-pmenu-hovered-element {
	cursor: default;
	color: ${menu.header.hover.color};
	background: ${menu.header.hover.background.color};
	
}

.rich-pmenu-hovered-element {
	background: ${menu.element.hover.background.color};
	color: ${menu.element.hover.color};
}

.rich-pmenu-item.rich-pmenu-hovered-element 	 {
	background: ${menu.element.hover.background.color};
	color: ${menu.element.hover.color};
}

/* tabelle **/
.rich-table, .extdt-maindiv {
	border: none;
}
.rich-pmenu-item-icon img{
	display: none;
}

.rich-pmenu-top-group-self-icon img {
	display: none;
}

.rich-pmenu-item-label {
    padding-left: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
}
.rich-pmenu-top-group-self-label {
	padding-left: 16px;
	font-size: 16px; 
	font-weight: bold;
	color: ${menu.header.color};
}

.extdt-innerdiv{ overflow-x:auto !important; overflow-y:hidden; }

.extdt-noData-cell {
	border: none;
}

.extdt-footer, .rich-table-footer {
	background-image: none;
	background-color: ${table.tfooter.background.color};
}

.extdt-footercell, .rich-table-footercell {
	border: none;
	padding: 0px;
}

.rich-table-subheadercell {
	border: 1px solid ${table.thead.border.color};
	font-size: 14px;
	font-weight: bold;
	background-color: ${table.thead.background.color};
	font-family: 'Roboto';
	padding: 8px 12px;
}

.rich-table-subheadercell span {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: bold;
	color: ${table.thead.color};
}

.extdt-subheadercell {
	border: 1px solid ${table.thead.border.color};
	font-size: 14px;
	font-weight: bold;
	background-color: ${table.thead.background.color};
	font-family: 'Roboto';
	padding: 8px;
	color: ${table.thead.color};
}

.extdt-subheadercell span {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: bold;
}

.rich-table-header {
	background-image: none;
	font-size: 14px;
	font-weight: bold;
	background-color: ${table.thead.background.color};
	font-family: 'Roboto';
}

.rich-table-headercell  {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: bold;
	border: 1px solid ${table.thead.border.color};
	padding: 8px;
	color: ${table.thead.color};
}

.extdt-menu-div-on {
	background-color: ${table.thead.action.button.background.color};
}

.extdt-cell, .rich-table-cell, .extdt-empty-cell {
	border: 1px solid ${table.thead.action.menu.background.color};
	font-family: 'Roboto';
    padding: 12px;
    font-size: 14px;
	color: ${table.thead.action.menu.color};
}

th.extdt-empty-cell.rich-extdt-subheadercell {
    padding: 8px;
}

.extdt-subheader {
	background-color: ${table.thead.background.color};
}

.extdt-header-sort-img {
	width: 16px;
	height: 16px;
}

.rich-table-cell a{
	color: ${a.color};
}

.rich-table-cell a:hover{
	color: ${a.hover.color};
}

.rich-datascr {
	padding-bottom: 16px;
}

.ds_down {
	padding-bottom: 0px;
	padding-top: 16px;
}

.rich-dtascroller-table {
	border: none;
	color: ${table.datascroller.color};
}

.rich-datascr-button {
	border: none;
	color: ${table.datascroller.button.color};
	background-color: ${table.datascroller.button.background.color};
}

.rich-datascr-inact {
	background-color: ${table.datascroller.button.background.color};
	border-top-color: ${table.datascroller.button.inactive.color};
	color: ${table.datascroller.button.inactive.color};
}

.rich-datascr-act {
	background-color: ${table.datascroller.button.background.color};
	border-top-color: ${table.datascroller.button.active.color};
	color: ${table.datascroller.button.active.color};
	
}

.rich-menu-list-border {
	background-color: ${table.thead.action.menu.border.color};
	border-color: ${table.thead.action.menu.border.color};
}

.rich-menu-list-bg {
	background-color: ${table.thead.action.menu.background.color};
	border-color: ${table.thead.action.menu.border.color};
	background-image: none;
}

.rich-menu-item-disabled, .rich-menu-group-disabled {
	color: ${table.thead.action.menu.item.disabled.color};
}

.rich-menu-separator {
	border-top-color: ${table.thead.action.menu.border.color};
}

.rich-menu-item-hover, .rich-menu-group-hover {
	background-color: ${table.thead.action.menu.item.hover.background.color};
	border-color: ${table.thead.action.menu.item.hover.border.color};
}

/*Menu utente */

.rich-ddmenu-label {
	font-family: 'Roboto';
	font-size: 14px;
}

.rich-ddmenu-label-unselect {
	padding: 0px;
	border: none;
}

.rich-ddmenu-label-select {
	color: ${page.header.text.color};
	background-color: ${menu.header.background.color};
	border: none;
	padding: 0px;
}

.rich-label-text-decor {
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	padding: 20px 12px 21px 12px;
}

span.nomeUtente {
/* 	padding-left: 4px; */
/*     padding-right: 4px; */
    font-size: 14px;
}

span.nomeUtenteImg {
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/tema_link/face_20.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
    height: 20px;
    padding: 4px 12px 6px 12px;
}

#menuUtente {
	background-color: ${page.header.background.color};
	border-color: ${page.header.background.color};
	color: ${page.header.text.color};
	cursor: pointer;
	margin-right: 16px;
	height: 60px;
}

#menuUtente.rich-ddmenu-label-select {
	background-color: ${menu.header.background.color};
	border-color: ${menu.header.background.color};
}

#menuUtente_menu {
	background-color: ${menu.background.color};
	border: none;
	color: ${page.header.text.color};
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#menuUtente_menu div.rich-menu-list-bg {
	background-color: ${menu.background.color};
	border: none;
	background-image: none;
	color: ${page.header.text.color};
}

#menuUtente_menu div.rich-menu-list-bg div.rich-menu-item {
	color: ${page.header.text.color};
	padding: 8px 8px 8px 16px; 
}

#menuUtente_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-label{
	padding: 12px 12px 12px 16px;
	font-size: 14px;
}

#menuUtente_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-icon {
	margin: 0px;
	display: none;
}

#menuUtente_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-icon img {
	display: none;
}

#menuUtente_menu div.rich-menu-list-bg div.rich-menu-item-hover {
	text-decoration: ${page.header.text.hover.decoration};
	color: ${page.header.text.hover.color};
	background-color: ${page.header.background.hover.color};
	border: none;
	font-weight: 600;
	border-left: 12px solid ${menu.element.hover.border.color};
    padding-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

span.modalita {
/* 	padding-left: 4px; */
/*     padding-right: 4px; */
    font-size: 16px;
}

span.modalitaImg {
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/tema_link/down_white.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 8px;
}

#menuModalita {
	background-color: ${page.header.background.color};
	border-color: ${page.header.background.color};
	color: ${page.header.text.color};
}

#menuModalita.rich-ddmenu-label-select {
	background-color: ${menu.header.background.color};
	border-color: ${menu.header.background.color};
}

#menuModalita_menu {
	background-color: ${menu.background.color};
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#menuModalita_menu div.rich-menu-list-bg {
	background-color: ${menu.background.color};
	border: none;
	background-image: none;
	color: ${page.header.text.color};
}

#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item {
	color: ${page.header.text.color};
	padding: 8px 8px 8px 16px;
}

#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-label{
	padding: 12px 12px 12px 16px;
	font-size: 14px;
}

#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-icon {
	margin: 0px;
	display: none;
}

#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-icon img {
/* 	display: none; */
}

#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item.rich-menu-item-disabled {
	color: ${page.header.text.color};
	font-weight: 600;
}

#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item-hover,
#menuModalita_menu div.rich-menu-list-bg div.rich-menu-item.rich-menu-item-disabled:hover  {
	text-decoration: ${page.header.text.hover.decoration};
	color: ${page.header.text.hover.color};
	background-color: ${page.header.background.hover.color};
	border: none;
	font-weight: 600;
	border-left: 12px solid ${menu.element.hover.border.color};
    padding-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Menu soggetto */

span.soggetto {
/* 	padding-left: 4px; */
/*     padding-right: 4px; */
    font-size: 16px;
}

span.soggettoImg {
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/tema_link/down_white.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 8px;
}

#menuSoggetto {
	background-color: ${page.header.background.color};
	border-color: ${page.header.background.color};
	color: ${page.header.text.color};
}

#menuSoggetto.rich-ddmenu-label-select {
	background-color: ${menu.header.background.color};
	border-color: ${menu.header.background.color};
}

#menuSoggetto_menu {
	background-color: ${menu.background.color};
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#menuSoggetto_menu div.rich-menu-list-bg {
	background-color: ${menu.background.color};
	border: none;
	background-image: none;
	color: ${page.header.text.color};
}

#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item {
	color: ${page.header.text.color};
	padding: 8px 8px 8px 16px;
}

#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-label{
	padding: 12px 12px 12px 16px;
	font-size: 14px;
}

#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-icon {
	margin: 0px;
	display: none;
}

#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item span.rich-menu-item-icon img {
/* 	display: none; */
}

#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item.rich-menu-item-disabled {
	color: ${page.header.text.color};
	font-weight: 600;
}

#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item-hover,
#menuSoggetto_menu div.rich-menu-list-bg div.rich-menu-item.rich-menu-item-disabled:hover {
	text-decoration: ${page.header.text.hover.decoration};
	color: ${page.header.text.hover.color};
	background-color: ${page.header.background.hover.color};
	border: none;
	font-weight: 600;
	border-left: 12px solid ${menu.element.hover.border.color};
    padding-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.rich-menu-item-label-inner {
	
}

.itemMultiline span.rich-menu-item-label{
	padding: 0px !important;
}

.rich-menu-item-label-inner p{
    margin: 0px;
    color: ${page.header.text.color};
    padding-left: 16px;
}

/* Menu status pdd*/
#statusPdd {
	background-color: ${page.header.background.color};
	border-color: ${page.header.background.color};
	color: ${page.header.text.color};
    cursor: pointer;
}

/* slider*/
.rich-inslider-track-decor-1 {
	border: none;
}

.rich-inslider-track-decor-2 {
	background: ${input.slider.background.color};
    border-bottom: 1px solid ${input.slider.border.color};
}

.rich-inslider-field {
	background-color: ${input.slider.background.color};	
	background-image: none !important;
	color: ${input.slider.color};
}

.rich-inslider-handler {
    background-image: url(../images/tema_link/down_full.png);
    width: 16px;
    height: 16px;
    bottom: -10px;
}

.rich-inslider-handler-selected {
    background-image: url(../images/tema_link/down_full_focus.png);
    width: 16px;
    height: 16px;
    bottom: -10px;
}

.rich-inslider-vert-spacer {
	padding: 0px 0px;
}

.rich-inslider-right-num {
	font-family: 'Roboto' !important; 
	border: none;
}

.rich-inslider-left-num {
	font-family: 'Roboto' !important; 
	border: none;
}

.rich-inslider-tip {
	background-color: ${tooltip.background.color};
	border: 1px solid ${tooltip.border.color};
	color: ${tooltip.color};
}

.rich-shuttle-list {
	
}

.rich-shuttle-source-cell, .rich-shuttle-target-cell {
	padding: 4px;
	font-family: 'Roboto';
	font-size: 14px;
}

.rich-shuttle-source-cell-selected, .rich-shuttle-target-cell-selected{
	padding: 4px;
	font-family: 'Roboto';
	font-size: 14px;
}

.rich-shuttle-source-cell-active, .rich-shuttle-target-cell-active{
	border:none;
}

.rich-shuttle-source-row-selected, .rich-shuttle-target-row-selected {
	color: ${input.shuttle.cell.selected.color};
	background-color: ${input.shuttle.cell.selected.background.color};
}

.rich-shuttle-source-cell-selected, .rich-shuttle-target-cell-selected, .rich-shuttle-source-cell-selected *, .rich-shuttle-target-cell-selected * {
	color: ${input.shuttle.cell.selected.color};
}

.rich-shuttle-control-disabled, .rich-shuttle-control-top, .rich-shuttle-control-bottom, 
.rich-shuttle-control-up, .rich-shuttle-control-down, .rich-shuttle-control-copyall, 
.rich-shuttle-control-copy, .rich-shuttle-control-remove, .rich-shuttle-control-removeall {
	border:none;
	width: 20px;
    height: 20px;
}

.rich-list-shuttle-button-content{
	background: transparent;
}

.rich-list-shuttle-button-light {
	background: none;
	border: none;
}

.rich-list-shuttle-button-press {
	background: none;
	border: none;
}

.rich-list-shuttle-button {
	border:none;
	background-color: ${input.shuttle.button.background.color};
	background-image: none;
}

.rich-list-shuttle-button-disabled{
	border:none;
	background-color: ${input.shuttle.button.background.color};
	background-image: none;
}

.rich-list-shuttle-button-content img{
	margin-right: 0px;
    vertical-align: middle;
    text-align: center;
}

.rich-shuttle-control-copyall .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-copyall .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/go_end_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-copyall .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-copyall .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-copy .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-copy .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/go_next_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-copy .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-copy .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-remove .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-remove .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/go_prev_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-remove .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-remove .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-removeall .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-removeall .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/go_start_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-removeall .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-removeall .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-top .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-top .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/move_top_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-top .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-top .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-up .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-up .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/move_up_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-up .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-up .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-down .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-down .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/move_down_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-down .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-down .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-shuttle-control-bottom .rich-list-shuttle-button-press .rich-list-shuttle-button-content,
.rich-shuttle-control-bottom .rich-list-shuttle-button-light .rich-list-shuttle-button-content {
	background-image: url(../images/tema_link/move_bottom_focus.png) ! important;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
    height: 16px;
    padding: 0px 1px;
}
.rich-shuttle-control-bottom .rich-list-shuttle-button-press .rich-list-shuttle-button-content img,
.rich-shuttle-control-bottom .rich-list-shuttle-button-light .rich-list-shuttle-button-content img{
	display: none;
	width: 16px;
    height: 16px;
}

.rich-ordering-control-img {
	width: 16px;
    height: 16px;
}

.rich-tool-tip {
	font-weight: normal;
	background-color: ${tooltip.background.color};
	border: 1px solid ${tooltip.border.color};
	color: ${tooltip.color};
}

.rich-mpnl-content {
	border: none;
}

.rich-mpnl-controls span a {
	color: ${panel.header.color};
}

.rich-mpnl-controls {
	top: 10px;
    right: 12px;
}

.rich-mpnl-header {
	background-image: none;
	background-color: ${panel.header.background.color};
	font-size: 14px; 
	font-weight: bold;
	color: ${panel.header.color};
	padding: 8px;
	border: none;
	min-height: 16px;
}

.rich-mpnl-header span {
	font-size: 16px;
	font-family: 'Roboto';
}

input.rich-calendar-input{
	background-color: ${input.background.color};
	background-image: none;
	border: 1px solid ${input.border.color};
	color: ${input.color};
}

input.rich-combobox-input-inactive {
	background-color: ${input.background.color};
	background-image: none;
	border: 1px solid ${input.border.color};
	color: ${input.color};
}

input.rich-combobox-button, input.rich-combobox-button-inactive, input.rich-combobox-button-disabled
{
	background-color: ${input.background.color};
	border: 1px solid ${input.border.color};
	color: ${input.color};
}

input.rich-combobox-button-hovered {
	border: 1px solid ${a.hover.color};
}

input.rich-combobox-input-disabled {
	background-color: ${input.background.color};
	border: 1px solid ${input.border.color};
	background-image: none;
	color: ${input.color};
}

input.rich-combobox-input{
	border: 1px solid ${input.focus.border.color};
	background-image: none;
	background: ${input.background.color};
}

.rich-combobox-list-position {
    position: absolute;
    top: 14px;
    left: 0;
}

.rich-combobox-shadow {
    position: absolute;
    top: 14px;
}

.rich-combobox-item {
	font-family: 'Roboto';
	font-size: 14px;
	padding: 4px;
}
.rich-combobox-item-selected {
	background-color: ${select.selected.background.color};
	background-image: none;
	border: none;
	padding: 4px;
}

.rich-combobox-list-decoration {
	border: 1px solid ${select.optionsList.border.color};
}

.rich-sb-ext-decor-2 {
	border: 1px solid ${select.optionsList.border.color};
	background-color: ${input.background.color};
}

.rich-sb-int-sel {
	background-color: ${select.selected.background.color};
	background-image: none;
}


/* Calendar */
.rich-calendar-button {
	cursor: pointer;
	left: -18px;
    position: relative;
}

.rich-calendar-exterior {
	border-color : ${input.calendar.widget.external.border.color};
}

.rich-calendar-header {
	border-bottom-color: ${input.calendar.widget.header.border.color};
}

.rich-calendar-days {
	background: ${input.calendar.widget.cell.day.background.color};
	border-bottom-color: ${input.calendar.widget.cell.border.color};
    border-right-color: ${input.calendar.widget.cell.border.color};
    font-family: 'Roboto';
    font-size: 11px;
}
.rich-calendar-week {
    background: ${input.calendar.widget.cell.week.background.color};
    border-bottom-color: ${input.calendar.widget.cell.border.color};
    background-color: ${input.calendar.widget.cell.week.background.color};
    border-right-color: ${input.calendar.widget.cell.border.color};
    font-family: 'Roboto';
    font-size: 11px;
}

.rich-calendar-cell {
	border-bottom-color: ${input.calendar.widget.cell.border.color};
	border-right-color: ${input.calendar.widget.cell.border.color};
	background-color: ${input.calendar.widget.cell.background.color};
	font-family: 'Roboto';
    font-size: 11px;
}

.rich-calendar-holly {
    background-color: ${input.calendar.widget.cell.holiday.background.color};
    color: ${input.calendar.widget.cell.holiday.color};
}

.rich-calendar-hover {
    background-color: ${input.calendar.widget.cell.hover.background.color};
    color: ${input.calendar.widget.cell.hover.color};
}

.rich-calendar-today {
	background-color: ${input.calendar.widget.cell.today.background.color};
	color: ${input.calendar.widget.cell.today.color};
	font-weight: bold;
}

.rich-calendar-select {
    background-color: ${input.calendar.widget.cell.selected.background.color};
    color: ${input.calendar.widget.cell.hover.color};
    font-weight: bold;
}

.rich-calendar-tool {
	background-color: ${input.calendar.widget.header.background.color};
}

.rich-calendar-month {
	background-color: ${input.calendar.widget.header.background.color};
}
.rich-calendar-toolfooter {
	background-color: ${input.calendar.widget.footer.background.color};
}

.rich-calendar-footer {
    border-top-color: ${input.calendar.widget.footer.border.color};
    border-right-color: ${input.calendar.widget.footer.border.color};
    background: ${input.calendar.widget.footer.background.color};
}

.rich-calendar-time-layout {
	background: ${input.calendar.widget.time.background.color};
	border-color :${input.calendar.widget.time.border.color};
}

.rich-calendar-time-btn {
    border-color: ${input.calendar.widget.time.button.border.color};
    border-right-color: ${input.calendar.widget.time.button.border.bottom.color};
    border-bottom-color: ${input.calendar.widget.time.button.border.bottom.color};
    background: ${input.calendar.widget.time.button.background.color};
}

.rich-calendar-tool-btn-press {
    border-color: ${input.calendar.widget.button.hover.border.color};
    border-right-color: ${input.calendar.widget.button.hover.border.bottom.color};
    border-bottom-color: ${input.calendar.widget.button.hover.border.bottom.color};
}

.rich-calendar-tool-btn-hover {
    border-color: ${input.calendar.widget.button.hover.border.color};
    border-right-color: ${input.calendar.widget.button.hover.border.bottom.color};
    border-bottom-color: ${input.calendar.widget.button.hover.border.bottom.color};
}

.rich-calendar-spinner-input {
	background-image: none !important;
}

.rich-calendar-spinner-buttons {
    background-color: ${input.calendar.widget.time.button.background.color};
    border-color: ${input.calendar.widget.time.button.border.bottom.color};
    background-image:none;
}

.rich-calendar-editor-btn-over {
	background: ${input.calendar.widget.editor.button.hover.background.color};
	border-color: ${input.calendar.widget.editor.button.hover.border.color};
}

.rich-calendar-date-layout {
	border-color: ${input.calendar.widget.header.border.color};
}
.rich-calendar-date-layout-split {
	border-right-color: ${input.calendar.widget.header.border.color};
}

.rich-calendar-date-layout-ok, .rich-calendar-date-layout-cancel {
	background: ${input.calendar.widget.time.button.border.color};
	border-top-color: ${input.calendar.widget.time.button.border.bottom.color};
}

/* file upload */

.rich-fileupload-toolbar-decor {
	 background-image:none;
	 background-color: ${input.background.color};
	 border: none;
}

.rich-fileupload-font {
	font-family: 'Roboto';
	font-size: 14px; 
}

.rich-fileupload-button {
	color: ${input.button.color};
	border: 1px solid ${input.button.border.color};
	background-color: ${input.button.background.color};
	background-image: none;
	font-size: 13px; 
	font-weight: bold;
	padding: 7px;
	border-radius: 5px;
	margin: 5px;
	cursor:pointer;
	font-family: 'Roboto';
}

.rich-fileupload-button-light, .rich-fileupload-button-press {
   	border: 1px solid ${input.button.hover.border.color};
	background-color: ${input.button.hover.background.color};
	color: ${input.button.hover.color};
	background-image: none;
	font-size: 13px; 
	font-weight: bold;
	padding: 7px;
	border-radius: 5px;
	margin: 5px;
	cursor:pointer;
	font-family: 'Roboto';
}

.rich-fileupload-ico {
	padding-left: 3px;
	background: none; 
}

.rich-fileupload-button-dis {

}

.rich-fileupload-button-border {
	border: none;
	margin: 0px;
}

.rich-fileupload-button-content {
	color: ${input.button.color};
}

.rich-fileupload-ico-add, .rich-fileupload-ico-stop, .rich-fileupload-ico-clear{
	background-image: none;
}

.rich-fileupload-ico-add-dis {
	background-image: none;
}

.rich-fileupload-name-padding {
	background: transparent !important;
	font-family: 'Roboto' !important;
}

.rich-fileupload-table-td {
	background: transparent !important;
	font-family: 'Roboto' !important; 
}

.rich-fileupload-name {
}



/* SPINNER */
.rich-spinner-input-container {
	background-image: none;
	border: none;
}

.rich-spinner-buttons {
	background-color: ${input.background.color};
	background-image: none;
	border-color: ${input.border.color};
}

.rich-spinner-btn{
	margin: 0 4px 0px 2px;
	width: 15px;
}

input.rich-spinner-input {
	width: 384px;
	border-right: none;
}


/* TABS */
.rich-tabpanel {
	width: 100%;
}


.rich-tab-bottom-line {
	border: none;
    height: 56px;
    padding-bottom: 8px;
}

.rich-tabhdr-side-border {
    background: none;
}

.rich-tabhdr-side-cell {
	border: none;	
}

.rich-tabhdr-cell-disabled,.rich-tabhdr-cell-inactive {
    padding-top: 0px;
}

.rich-tab-inactive {
	background: none;
	padding-bottom: 16px; 
	border: none;
	border-bottom: 2px solid ${table.thead.background.color}; 
	color:  ${table.thead.background.color}; 
    cursor: pointer;
}

.rich-tab-inactive:hover,
.rich-tab-active:hover {
	border-bottom: 2px solid ${a.hover.color} !important;
	color: ${a.hover.color};
	cursor: pointer;
}

.rich-tab-active {
	background: none;
	border: none;
	padding-bottom: 16px; 
	border-bottom: 2px solid ${a.hover.color};
	color: ${body.color}; 
}

.rich-tabhdr-cell-active table {
	top: 0px !important;
}

.rich-tabpanel-content-position{
	padding: 0px 0px 0px 0px;  
	display: block; 
	border: none; 
	background: none; 
	position: relative;
}
.rich-tabpanel-content {
	padding: 0px 0px 0px 0px;  
	display: block; 
	border: none; 
	background: none; 
	font-family: 'Roboto';
	font-size: 14px;
}
