/* Form styles */
/*collapsible field set*/
div.form-container form fieldset.collapsed,div.form-container .display-form fieldset.collapsed {
	    border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        margin-bottom: 0;
}

div.form-container form fieldset.collapsible legend
,div.form-container .display-form fieldset.collapsible legend{
    background: transparent url('../images/tema_link/down.png') no-repeat left;
    text-indent: 20px;
    cursor: pointer;
}

div.form-container form fieldset.collapsed legend
,div.form-container .display-form fieldset.collapsed legend{
    background: transparent url('../images/tema_link/next.png') no-repeat left;
    text-indent: 20px;
    cursor: pointer;    
}


/* INLINE PROPERTY */  

label.insideLeftProp{
	margin-right: 3px !important;
	padding-right: 3px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	width:  auto !important; 
}

label.insideRightProp{
	margin-right: 3px !important;
	padding-right: 3px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	width:  auto !important; 
}

p.legend {
	margin-bottom: 1em;
}

p.legend em {
	color: ${p.legend.color};
	font-style: normal;
}

.campiObbligatori {
	display: block;
	text-align: left;
	color: ${label.color};
	padding: 5px;
	margin: 3px 5px;
}

.campiObbligatori p{
	color: ${label.color} !important;
}

div.errorsSpacer {
	height: 4px;
}

.rich-messages dt {
	padding-bottom: 4px;
}

/* Messaggi */
div.errors,
div.messages-errors,
div.messages-errors-sintetico {
	margin: 0 40px 20px 0px;
	padding: 10px 20px;
	border: ${messages.error.border.color} 1px solid;
	background-color: ${messages.error.background.color};
	color: ${messages.error.color};
}

div.errors a,
div.messages-errors a,
div.messages-errors-sintetico a {
	cursor: pointer;
	font-family: 'Roboto';
	text-decoration: underline;
	color: ${messages.error.color};
}

div.errors a:hover,
div.messages-errors a:hover,
div.messages-errors-sintetico a:hover{
	color: ${messages.error.color};
	text-decoration: none;
}

div.errors-text,
div.messages-errors-text,
div.messages-errors-sintetico-text {
	padding: 8px 4px 8px 0px;
}

.errors p,
.messages-errors-text p,
.messages-errors-sintetico-text p {
	margin: 0px;
}

div.errors p em {
	color: ${messages.error.color};
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

div.info,
div.messages-info,
div.messages-info-sintetico {
	margin: 0 40px 20px 0px;
	padding: 10px 20px;
	border: ${messages.info.border.color} 1px solid;
	background-color: ${messages.info.background.color};
	color: ${messages.info.color};
}

div.info a,
div.messages-info a,
div.messages-info-sintetico a {
	cursor: pointer;
	font-family: 'Roboto';
	text-decoration: underline;
	color: ${messages.info.color};
}

div.info a:hover,
div.messages-info a:hover,
div.messages-info-sintetico a:hover {
	color: ${a.hover.color};
	text-decoration: none;
}

div.info-text,
div.messages-info-text,
div.messages-info-sintetico-text {
	padding: 8px 4px 8px 0px;
}

div.info p,
.messages-info-text p,
.messages-info-sintetico-text p {
	margin: 0px;
	color: ${messages.info.color};
}

div.info p em {
	color: ${messages.info.color};
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

.messages-info-text ul,
.messages-info-sintetico-text ul {
	color: ${messages.info.color};
}

div.messages-title {
	font-weight: bold;
	padding: 8px 4px 8px 0px;
}

.messages-title-text{
	font-size: 16px;
	vertical-align: middle;
}

.messages-info-title-icon,
.messages-info-sintetico-title-icon{
	background-image: url(../images/tema_link/info_white.png) ! important;
	background-repeat: no-repeat;
	background-position: left center;
	width: 20px;
    height: 20px;
    padding: 0px 8px 0px 10px;
}

.messages-errors-title-icon,
.messages-errors-sintetico-title-icon{
	background-image: url(../images/tema_link/alarm_red.png) ! important;
	background-repeat: no-repeat;
	background-position: left center;
	width: 20px;
    height: 20px;
    padding: 0px 8px 0px 10px;
}

div.form-container form p,div.form-container .display-form p{
	margin: .8em;
}

div.form-container form p.note, div.form-container .display-form p.note, div.prop p.note {
	margin-left: 232px;
	color: ${p.note.color};
/* 	line-height: 100%; */
}

div.form-container form div.prop ,div.form-container .display-form div.prop, div.form-container div.prop{
	padding: 5px 8px 5px 8px;  /* padding top 0px IE7 fix */
}

div.form-container form fieldset,div.form-container .display-form fieldset, div.form-container fieldset {
	margin: 10px 0px 16px 0px;
	padding: 20px 14px 28px 14px;;
}

div.form-container form legend,div.form-container .display-form legend, div.form-container legend {
	padding-left: 10px;
    padding-right: 10px;
    color: ${legend.color};
}

div.form-container label,div.form-container .display-form label {
    margin-right: 16px;
    padding-right: 16px;
    width: 200px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	color: ${label.color};
	padding-top: 4px;
	font-size: 16px;
}

label.longLabel{
    margin-right: 16px;
    padding-right: 16px;
    width: 270px !important;
    display: block;
    float: left;
    text-align: right;
    position: relative;
    color: ${label.color};
	padding-top: 4px;
	font-size: 16px;
}

div.form-container label em ,div.form-container .display-form label em{
	position: absolute;
	right: 0;
	font-size: 120%;
	font-style: normal;
	color: ${p.legend.color};
}

div.form-container div.controlset div,
div.form-container .display-form div.controlset div,
div.form-container table.controlset ,
div.form-container .display-form table.controlset  {
	margin-left: 232px;
	padding-top: 4px;
    margin-bottom: 2px;
}

div.form-container div.buttonrow,
div.form-container .display-form div.buttonrow {
	margin-top: 20px;
	margin-left: 232px;
}

div.form-container div.rich-combobox,
div.form-container .display-form div.rich-combobox{
	margin-left: 232px;
/* 	padding-bottom: 10px;  */
   	height: 29px;	
}

/* 	personalizzazioni */
div.form-container table.controlset label,
div.form-container .display-form table.controlset label{
	float: right;
	padding-top: 2px;
	text-align: left;
	width: auto;
	padding-left: 4px;
    margin-right: 10px;
    padding-right: 10px;
}

div.form-container input[type="checkbox"].controlset,
div.form-container .display-form input[type="checkbox"].controlset {
	margin-bottom: 2px;
    margin-top: 8px;
}

.spanNoEdit {
/* 	vertical-align: middle; */
}

	.subtitle {
/* 	padding: 10px 20px 6px 5px; */
	padding: 16px 20px 12px 5px;
    margin-left: 232px;
}

.subtitle span {
	font-size: 16px;
    font-weight: bold;
    margin-left: 0px;
	color: ${legend.color};
}

.subtitle-nopaddingleft-nomarginleft {
	padding: 16px 20px 12px 0px;
}

.subtitle-nopaddingleft-nomarginleft span {
	font-size: 16px;
    font-weight: bold;
    margin-left: 0px;
	color: ${legend.color};
}

/* /* BUTTONS */ 

.buttonrowlista{
	display: block;
	float: right;
	padding-top: 20px;
}

.buttonrowmodal {
	text-align: center;
	padding: 16px;
	margin: 0px;
}

.buttonrowheight {
	height: 40px;
	padding-bottom: 20px;
}

.buttonrowsonda {
	margin-top: 20px;
	margin-left: 170px;
	margin-bottom: 12px;
}

.buttonrowlistaLeft{
	display: block;
/* 	float: right; */
	padding-top: 32px;
}

.buttonrowsonda a,
.buttonrowsonda input[type="button"],
.buttonrowsonda input[type="submit"],
.buttonrowmodal a,
.buttonrowmodal input[type="button"],
.buttonrowmodal input[type="submit"],
.buttonrow a,
.buttonrow input[type="button"],
.buttonrow input[type="submit"] {
	color: ${input.button.color};
	border: 1px solid ${input.button.border.color};
	background-color: ${input.button.background.color};
	background-image: none;
	font-size: 14px; 
	font-weight: bold;
	padding: 11px;
	border-radius: 5px;
    margin: 8px 0px 8px 12px;
    min-width: 100px;
	cursor:pointer;
	font-family: 'Roboto';
	text-decoration: none;
	text-transform: uppercase;	
}

input[type="submit"]:hover, input[type="button"]:hover, .buttonrow a:hover, .buttonrowmodal a:hover, .buttonrowsonda a:hover{
   	border: 1px solid ${input.button.hover.border.color};
	background-color: ${input.button.hover.background.color};
	color: ${input.button.hover.color};
	background-image: none;
}

.secondary {
	border: 1px solid ${input.button.negative.border.color};
	background-color:  ${input.button.negative.background.color};
	color: ${input.button.negative.color};
	background-image: none;
}

.buttonrow a.negative, .buttonrowmodal a.negative, .buttonrowsonda a.negative, input[type="button"].negative, input[type="submit"].negative {
	border: 1px solid ${input.button.negative.border.color};
	background-color: ${input.button.negative.background.color};
	color: ${input.button.negative.color};
	background-image: none;
}

.buttonrow a.negative:hover, .buttonrowmodal a.negative:hover, .buttonrowsonda a.negative:hover, input[type="button"].negative:hover, input[type="submit"].negative:hover{
	border: 1px solid ${input.button.negative.hover.border.color};
	background-color: ${input.button.negative.hover.background.color};
	color: ${input.button.negative.hover.color};
	background-image: none;
}

.labelSliderGrafici {
	width: 160px  !important;
    padding-top: 4px   !important;
    margin-right: 0px  !important;
}

.direzioneLabelGrafici {
	width: 28px  !important;
	margin-right: 0px  !important;
	padding-top: 4px   !important;
}

.labelSpinnerGrafici {
	width: 100px  !important;
    margin-right: 0px  !important;
}

.labelSpinnerGraficiSolo {
    margin-right: 0px  !important;
}

.spinnerNumeroRisultatiGrafici input.rich-spinner-input{
	width: 20px  !important;
}

.comandi-grafici-align-default{
	width: 33%;
}

.comandi-grafici-align-center{
	text-align: center;
	width: 33%;
}

.comandi-grafici-align-right{
	text-align: right;
	width: 33%;
}


.tipologie {
/*   display: flex; */
/*   flex-wrap: wrap; */
}

.tipologie > div {
/*   background-color: #f1f1f1; */
  width: 160px;
  margin: 12px;
  text-align: center;
  height: 80px;
  float: left;
}
.tipologia-button {
    position: relative;
    text-decoration: none;
}


.tipologia-button-text {
    /* position: absolute; */
    display: block;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 12px;
}