* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

h2 {
	font-size: 197%;
}

html {
	height: 100%;
}

fieldset {
	border: 1px solid ${fieldset.border.color}; 
	border-radius: 5px;
	margin: 10px 0px 16px 0px;
/* 	padding: 16px 10px 24px 10px; */
    padding: 20px 14px 28px 14px;
}

img {
	border: none;
}

p {
	margin: .8em;
	font-family: 'Roboto';
	line-height: normal;
}

legend {
	font-family: 'Roboto';
	font-size: 17px;
	font-weight: bold;
	padding-left: 10px;
    padding-right: 10px;
    color: ${legend.color};
}

a {
	color: ${a.color};
	text-decoration: underline;
	font-family: 'Roboto';
	font-size: 14px;
}

a:hover {
	color: ${a.hover.color};
	text-decoration: none;
}

a:visited {
	color: ${a.visited.color};
	text-decoration: none;
}
	
body {
	color: ${body.color};
	height: 100%;
	background: ${body.background.color};
}

table {
	border: none;
	border-spacing: 0;
/*     border-collapse: collapse; */
}

select {
	padding: 4px;
	border: 1px solid ${input.border.color};
	font-family: 'Roboto';
	font-size: 16px;
	background: none;
}

select:focus {
	border: 1px solid  ${input.focus.border.color};
}

textarea {
	padding: 4px;
	border: 1px solid ${input.border.color};
	font-family: 'Roboto';
	font-size: 16px;
}
textarea:focus {
	border: 1px solid  ${input.focus.border.color};
}

input:focus {
	border: 1px solid  ${input.focus.border.color};
}

input[type="text"] {
	padding: 4px;
	border: 1px solid ${input.border.color};
	font-family: 'Roboto';
	font-size: 16px;
}

input[type="text"]:disabled{
    background: ${input.text.disabled.background.color};
    color: ${input.text.disabled.color};
}

input[type="text"]:focus {
	border: 1px solid  ${input.focus.border.color};
}

input[type="password"] {
	padding: 4px;
	border: 1px solid ${input.border.color};
	font-family: 'Roboto';
	font-size: 16px;
}

input[type="password"]:disabled {
    background: ${input.password.disabled.background.color};
    color: ${input.password.disabled.color};
}

input[type="password"]:focus {
	border: 1px solid  ${input.focus.border.color};
}

input[type="checkbox"] {
	padding: 4px;
	border: 1px solid ${input.border.color};
	font-family: 'Roboto';
	font-size: 16px;
	background-color: ${input.background.color} ;	
	background-image: none !important;
	margin-top: 4px;
}

input[type="checkbox"]:focus {
	border: 1px solid  ${input.focus.border.color};
}

input[type="radio"] {
	padding: 4px;
	border: 1px solid  ${input.border.color};
	font-family: 'Roboto';
	font-size: 16px;
	background-color: ${input.background.color};	
	background-image: none !important;
	margin-top: 4px;
}

input[type="radio"]:focus {
	border: 1px solid  ${input.focus.border.color};
}

option  {
	background-color: ${input.background.color};
	color: ${input.color};
	font-size: 16px;
}

option:checked  {
	background-color: ${option.checked.background.color};
	color:  ${option.checked.color};
}

option:hover  {
	background-color: ${option.hover.background.color};
	color:  ${option.hover.color};
}

option:active  {
	background-color: ${option.active.background.color};
	color:  ${option.active.color};
}

.inputLink {
	background-color: ${input.background.color} ;	
	background-image: none !important;
	color: ${input.color};
}

.inputLinkLong {
	background-color: ${input.background.color} ;	
	background-image: none !important;
	width: 406px;
	color: ${input.color};
}

ul {
	line-height: normal;
}


/* Classi header a destra */

.titleRight {
	vertical-align: middle; 
	font-size: 16px;
	color: ${page.header.text.color};
}

.titleRight label,
.titleRight span{
/* 	font-size: 16px; */
}

.titleLinkRight  {
	font-size: 16px;
	color: ${page.header.text.color};
}

a.titleLinkRight:visited {
	font-size: 16px;
	color: ${page.header.text.color} !important;
}

a.titleLinkRight:hover {
	font-size: 16px;
	color: ${page.header.text.color};
}

.titleStatusIconLinkLeft {
	text-decoration: none; 
	color: ${page.header.text.color}; 
}

.titleStatusIconLinkRight {
	text-decoration: none; 
	color: ${page.header.text.color}; 
	vertical-align: bottom;
}

.spacer {
	width: 100%;
	height: 1px;
}

.spacerDettaglio {
	width: 100%;
	height: 20px;
}

.spacerLinkDownload{
	height: 1px;
	width: 5px;
}

.spacerTooltip{
	height: 2px;
	width: 1px;
}

.margin-top{
    margin-top: 16px;
}

.panelLista {
    background: ${paginacorrente.background.color};
    padding: 24px;
    border: none;
}

/*	diagnostici severita */
.errorSpcoop, .errorOpenspcoop, .diag_error,
.errorProtocol, .errorIntegration{
	color: ${diagnostici.error.color};
}

.infoSpcoop,
.infoOpenspcoop,
.diag_info,
.infoIntegration,
.infoProtocol{
	color: ${diagnostici.info.color};
}

.fatalOpenspcoop,
.diag_fatal,
.fatal{
	color: ${diagnostici.error.color};
	font-weight: bold;
	font-style: normal;
}

.diag_debug,
.debugLow,
.debugMedium,
.debugLow{
	
}
/**
	Esito dettaglio messaggio
 */
 .esito_ok{
 	color: ${diagnostici.info.color};
 }
 .esito_ko{
 	color: ${diagnostici.error.color};
 }

.errorMessage{
	color: ${diagnostici.error.color};
}

.noborder {
	border: none !important;
}

.nopadding {
	padding: 0px !important;
}

/*Table row*/
.even {
	background-color: ${table.row.even.background.color};
}

.odd {
	background-color: ${table.row.odd.background.color};
}

.active {
	background-color: ${table.row.hover.background.color};
}
/*End Table row*/

.columnHeaderLabel {
	color: ${table.thead.label.color};
	font-weight: bold;
}

.align-default{
}

.align-center{
	text-align: center;
}

.align-right{
	text-align: right;
}

.align-top{
    vertical-align: top;
}

.v-align-middle{
    vertical-align: middle;
}

.align-left{
	text-align: left;
}

.outputFieldLabel {
	color: ${label.color};
	font-weight: bold;
}

.labelAllineataDx {
	text-align: right;
	padding: 0px 10px;
	line-height: 24px;
}

.labelAllineataDxFixedWidth130 {
	text-align: right;
	padding: 0px 10px;
	width: 160px;
	line-height: 24px;
}

.labelAllineataDxFixedWidth270 {
    text-align: right;
    padding: 0px 10px;
    width: 270px;
    line-height: 24px;
}

.labelAllineataSx {
	padding: 0px 10px;
	line-height: 24px;
}

.valueAllineataSx {
    padding: 0 10px 0 2px;
    line-height: 24px;
}

.borderSpacingTable{
	border-spacing: 3px;
}

/*Link con icona*/
a[id$='iconLink']{
 	color: ${a.color};
}

a:hover[id$='iconLink']{
 	color: ${a.hover.color};
}

label[id$='iconLabel']{
	display:inline-block;
	padding-left:20px;
	line-height:18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

span[id$='iconLink']{
	color: ${a.color};
}

a.iconLinkie{
	color: ${a.color};
}

a:hover.iconLinkie{
	color: ${a.hover.color};
}

span.iconLinkie{
}

.divNoEdit {
	padding-top: 6px;
}


/* CLASSI VISTA CUSTOM TRANSAZIONI */


.col-esito-ok{
	background-color: ${transazioni.stato.ok.esito.background.color};
}
.col-latenza-ok{
	background-color: ${transazioni.stato.ok.latenza.background.color};
}

.col-esito-fault{
	background-color: ${transazioni.stato.fault.esito.background.color};
}
.col-latenza-fault{
	background-color: ${transazioni.stato.fault.latenza.background.color};
}

.col-esito-errore{
	background-color: ${transazioni.stato.errore.esito.background.color};
	color: ${transazioni.stato.errore.esito.color};
}
.col-latenza-errore{
	background-color: ${transazioni.stato.errore.latenza.background.color};
}


.divNoEdit.titoloTags {
    display: inline-flex;
    padding-top: 0px;
}

.rowTransazione {
	cursor: pointer;
	display: flex;
}

.entryIconeTransazione {
	display: flex;
	align-items: center;
	background-color: ${transazioni.ruolo.background.color};
	color: ${transazioni.ruolo.color};
}

.entryDatiTransazione {
	width: 100%;
}

.entryDatiTransazioneRiga1 {
	display: flex;
}

.entryDatiTransazioneRiga1 .divTitoloEntry {
	padding: 12px 20px 4px 20px;
    font-size: 16px;
    white-space: nowrap;
}

.titoloIconaRuolo {
	padding: 0px 8px 4px 8px;
	float: left;
}

.titoloSX {
	padding: 0px 0px 0px 0px;
	float: left;
	line-height: 24px;
}

.titoloSX > span,
.titoloDX > span {
	font-size: 16px;
}

.titoloDX {
	padding: 0px 8px 0px 0px;
	float: left;
	line-height: 24px;
}

.titoloDXAnonimo {
	padding: 2px 8px 4px 0px;
	float: left;
}

.interno {
	 font-weight: bold;
}

.entryDatiTransazioneRiga1 .titoloTags {
	padding: 0px 0px 0px 0px;
	float: left;
    line-height: 24px;
}

.infoColDXTransazioneRiga1 {
	display: flex;
	margin-left: auto;
}

.infoColDXTransazioneRiga1 .entryInfoEsitoTransazione{
	padding: 12px 20px 4px 20px;
	line-height: 24px;
}

.infoColDXTransazioneRiga1 .entryInfoEsitoTransazione .titoloEntry {
    font-weight: bold;
    font-size: 16px;
}

.infoColDXTransazioneRiga1 .entryInfoLatenzaTransazione{
	padding: 12px 20px 4px 20px;
	line-height: 24px;
}

.infoColDXTransazioneRiga1 .entryInfoLatenzaTransazione .titoloEntry {
    font-weight: bold;
    font-size: 16px;
}

.entryDatiTransazioneRiga2 {
	display: flex;
}

.entryDatiTransazioneRiga2 .divSottotitoloEntry {
	padding: 8px 20px 8px 20px;
	color: ${body.secondary.color};
	display: flex;
    flex-wrap: wrap;
    line-height: 24px;
}

.entryDatiTransazioneRiga2 .metadatiEntry {
}

.infoColDXTransazioneRiga2 {
	display: flex;
	margin-left: auto;
}

.infoColDXTransazioneRiga2 .entryInfoEsitoTransazione{
	padding: 8px 20px 8px 20px;
	line-height: 24px;
}

.infoColDXTransazioneRiga2 .entryInfoEsitoTransazione .metadatiEntry {
	white-space: nowrap;
	font-weight: bold;
}

.infoColDXTransazioneRiga2 .entryInfoLatenzaTransazione{
	padding: 8px 20px 8px 20px;
	line-height: 24px;
}

.infoColDXTransazioneRiga2 .entryInfoLatenzaTransazione .metadatiEntry {
	white-space: nowrap;
}

.entryRuoloTransazioneFruizione {
    padding: 0px 22px 0px 10px;
}

.entryRuoloTransazioneErogazione {
    padding: 0px 10px 0px 22px;
}

.entryRuoloConsegna {
    padding: 0px 16px 0px 16px;
}
