# This file contains reusable openapi-v3 entities for defining
#   interoperable API behavior by adopting developers.
#
# GitHub Project: https://github.com/teamdigitale/openapi
# Source: https://teamdigitale.github.io/openapi/<version>/definitions.yaml
#         Un indice delle versioni e' disponibile in: https://teamdigitale.github.io/openapi/
# nota: il sorgente e' stato adattato alle esigenze dei servizi rest di govway e del framework utilizzato
#
openapi: 3.0.0
components: 
  headers:
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        type: integer
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        format: int32
        type: integer
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        format: int32
        type: integer
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        format: int32
        type: integer

    Location:
      description: |-
        Header Location inserito in una risposta ad una richiesta POST, terminata con successo 'http 201'.
        L'header indica l'id dell'oggetto creato.
      schema:
        type: string

  parameters:
    Etag:
      description: |
        The RFC7232 ETag header field in a response provides the current entity-
        tag for the selected resource. An entity-tag is an opaque identifier for
        different versions of a resource over time, regardless whether multiple
        versions are valid at the same time. An entity-tag consists of an opaque
        quoted string, possibly prefixed by a weakness indicator.
      example: 'W/"xy", "5", "7da7a728-f910-11e6-942a-68f728c1ba70"'
      in: header
      name: Etag
      required: false
      schema:
        type: string
    IfMatch:
      description: |
        The RFC7232 If-Match header field in a request requires the server to
        only operate on the resource that matches at least one of the provided
        entity-tags. This allows clients express a precondition that prevent
        the method from being applied if there have been any changes to the
        resource.
      example: '"5", "7da7a728-f910-11e6-942a-68f728c1ba70"'
      in: header
      name: If-Match
      required: false
      schema:
        type: string
    IfNoneMatch:
      description: |
        The RFC7232 If-None-Match header field in a request requires the server
        to only operate on the resource if it does not match any of the provided
        entity-tags. If the provided entity-tag is `*`, it is required that the
        resource does not exist at all.
      example: '"7da7a728-f910-11e6-942a-68f728c1ba70", *'
      in: header
      name: If-None-Match
      required: false
      schema:
        type: string
    citizen:
      description: testme
      in: query
      name: citizen
      schema:
        $ref: '#/components/schemas/Person'
    cursor:
      description: An opaque identifier that points to the next item in the collection.
      example: 01BX9NSMKVXXS5PSP2FATZM123
      in: query
      name: cursor
      schema:
        type: string
    fields:
      description: Fields to retrieve
      in: query
      name: fields
      schema:
        type: string
    limit:
      description: How many items to return at one time (max 100)
      in: query
      name: limit
      schema:
        format: int32
        type: integer
    offset:
      description: The zero-ary offset index into the results
      in: query
      name: offset
      schema:
        default: 0
        format: int32
        type: integer
    q:
      description: Search query term
      in: query
      name: q
      schema:
        type: string
    sort:
      description: Sorting order
      in: query
      name: sort
      schema:
        example: +name
        type: string
  responses:
    400BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Bad Request
    404NotFound:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Not Found
    429TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    503ServiceUnavailable:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
    
    401Unauthorized:
      description: Non sono state fornite le credenziali necessarie
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    403Forbidden:
      description: Autorizzazione non concessa per l'operazione richiesta
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    409Conflict:
      description: Conflict (L'entità che si vuole creare risulta già esistente)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    201Created:
      description: Resource created
      headers:
        Location:
          $ref: '#/components/headers/Location'
  schemas:
    Money:
      properties:
        amount:
          description: Amount expressed as a decimal number of major currency units
          example: 99.95
          format: decimal
          type: number
        currency:
          description: 3 letter currency code as defined by ISO-4217
          example: EUR
          format: iso-4217
          type: string
      required:
        - amount
        - currency
      type: object
    Person:
      externalDocs:
        url: 'https://w3id.org/italia/onto/CPV'
      properties:
        family_name:
          type: string
        given_name:
          type: string
        tax_code:
          $ref: '#/components/schemas/TaxCode'
    Problem:
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem.
          example: Connection to database timed out
          type: string
        instance:
          description: >
            An absolute URI that identifies the specific occurrence of the
            problem.
  
            It may or may not yield further information if dereferenced.
          format: uri
          type: string
        status:
          description: >
            The HTTP status code generated by the origin server for this
            occurrence
  
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
          type: string
        type:
          default: 'about:blank'
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          example: 'https://tools.ietf.org/html/rfc7231#section-6.6.4'
          format: uri
          type: string
      type: object
    TaxCode:
      description: Il codice fiscale.
      example: RSSMRA75L01H501A
      externalDocs:
        url: 'https://w3id.org/italia/onto/CPV/taxCode'
      pattern: >-
        /^(?:(?:[B-DF-HJ-NP-TV-Z]|[AEIOU])[AEIOU][AEIOUX]|[B-DF-HJ-NP-TV-Z]{2}[A-Z]){2}[\dLMNP-V]{2}(?:[A-EHLMPR-T](?:[04LQ][1-9MNP-V]|[1256LMRS][\dLMNP-V])|[DHPS][37PT][0L]|[ACELMRT][37PT][01LM])(?:[A-MZ][1-9MNP-V][\dLMNP-V]{2}|[A-M][0L](?:[1-9MNP-V][\dLMNP-V]|[0L][1-9MNP-V]))[A-Z]$/i
      type: string
